[2016-10-04 17:11] #457 closed

[2016-10-06 07:06] sdurrheimer opened #572 "skydns still use the old etcd port"
Hi there,

It would be nice to change the `ETCD_MACHINES` envvar of `skydns` in order to use the current `2379` port of `etcd`, or even better, use both `2379` and `4001` ports to keep backward compatibility.

[2016-10-06 22:19] srampal opened #573 "Cleanup scripts cause error in SkyDNS configuration"
vagrant based setup
1) Use "make demo" to build a demo configuration
2) Use "netctl network create <container_name> --subnet=" to create a new network
3) Use "netctl network inspect <container_name" to inspect this network
     The skydns endpoint is shown in this network automatically created by default
4) Now do  "make host-cleanup", "make host-build" and "make host-restart"
5) Create one or two

[2016-10-07 00:03] fgisiger opened #574 "unable to ping container using container name"
Not sure if this is expected, but I am not able to ping containers using their container names.

I have two containers as below:
app1: 20.1.1.1
db1: 20.1.1.2

**_from app1:_**
root@101c62482eca:/pycode# ping app1       <<< ping to local works fine
PING app1 (20.1.1.1): 56 data bytes
64 bytes from 20.1.1.1: icmp_seq=0 ttl=64 time=0.091 ms
64 bytes from 20.1.1.1: icmp_seq=1 ttl=64 time=0.093 ms

roo

[2016-10-13 05:53] jojimt opened #575 "Netmaster caches stale/dead servers in the cluster."
When a node is removed, netmaster does not remove it from its agent DB.

[2016-10-13 14:01] kongbo1987 opened #577 "cannot start a container with netplugin"
when I create a network use netctl

netctl network create vlan-net --subnet=10.57.18.1/24  --gateway=10.57.18.1 --encap=vlan

but when I start a container

docker run -it --name=centos --net=vlan-net centos /bin/bash

got error

docker: Error response from daemon: failed to create endpoint centos on network vlan-net: NetworkDriver.CreateEndpoint: Could not create endpoint Flow already exists.

[2016-10-13 21:43] gaurav-dalvi commented on #574
Hello Furong,

You need to start container with --dns option. Here is the example.

[code]

Could you please verify and let me know, So that I can close the issue ?

[2016-10-13 22:39] gaurav-dalvi commented on #574
As we discussed, right now DNS container is disabled in ACI mode. Hence this wont work in ACI mode. It will work in non ACI mode.

Closing the issue !

[2016-10-13 22:39] #574 closed

[2016-10-14 22:30] #575 closed

[2016-10-17 17:08] gaurav-dalvi commented on #541
https://github.com/contiv/netplugin/pull/578 .. PR in review phase !

[2016-10-25 00:01] gaurav-dalvi commented on #573
PR : https://github.com/contiv/netplugin/pull/582

@srampal : Could you please verify this ?

[2016-10-25 00:21] fgisiger opened #583 "ACI mode: Roadmap to support multiple subnets within the same network"
Currently in ACI mode, it supports single subnet within a single network. Is there any roadmap to support multiple subnets in the same network?

[root@centos7_vm1 ~]# netctl net create -t MS1 -e vlan -s 10.0.0.0/24 -g 10.0.0.1 bd1
Creating network MS1:bd1
[root@centos7_vm1 ~]# netctl net ls -t MS1
Tenant  Network  Nw Type  Encap type  Packet tag  Subnet       Gateway   IPv6Subnet  IPv6Gateway
----

[2016-10-25 19:58] gaurav-dalvi commented on #573
PR is closed and merged !
Closing this Issue.

[2016-10-25 19:58] #573 closed

[2016-10-26 22:19] gaurav-dalvi opened #584 "run netmaster and netplugin as container when you do make demo."
Currently when you make demo --> create 3 Vagrant VMs with docker swarm and contiv through binaries. Change it so that contiv binaries run as a container.

[2016-10-26 22:59] yuva29 opened #585 "Docker Swarm: Documentation needs to be fixed"
http://contiv.github.io/documents/gettingStarted/networking/swarm.html

Step 7 says it's attaching the container to `epg` but it's getting attached to the network.

[2016-10-26 23:19] gaurav-dalvi commented on #585
@yuva29 : Good find.
could you please make changes here : https://github.com/contiv/contiv.github.io

[2016-10-27 16:48] yuva29 commented on #585
Working on it

[2016-10-27 20:34] yuva29 commented on #585
I suppose the document is already updated but those changes are not reflected in the website.

Original document is updated https://github.com/contiv/contiv.github.io/blob/master/websrc/source/documents/gettingStarted/networking/swarm.md

I guess we have to figure how to sync the website with the repo.

[2016-10-28 04:32] #541 closed

[2016-10-28 17:06] unclejack opened #588 "update to the latest Go version"
Netplugin is currently using Go 1.5. Go 1.7.3 is the latest.

We need to update to the latest version. This issue will track the tasks required to get this done.

[2016-10-31 22:25] abhinandanpb commented on #42
Closing this issue as we support more than 4k vxlans atm.

[2016-10-31 22:25] #42 closed

[2016-10-31 22:26] #70 closed

[2016-10-31 22:27] abhinandanpb commented on #110
Closing this issue. We can reopen it when newer integration proposals come in .

[2016-10-31 22:27] #110 closed

[2016-10-31 22:28] abhinandanpb commented on #116
REST APIs are versioned now. Closing the issue

[2016-10-31 22:28] #116 closed

[2016-10-31 22:29] abhinandanpb commented on #204
This appears to be addressed. We can revisit if there is any api changes needed.

[2016-10-31 22:29] #204 closed

[2016-10-31 22:29] abhinandanpb commented on #208
this scenario is handled using object ref count.

[2016-10-31 22:29] #208 closed

[2016-10-31 22:32] abhinandanpb commented on #227
netmaster and netplugin has been containerized.

[2016-10-31 22:32] #227 closed

[2016-10-31 22:33] abhinandanpb commented on #238
k8 sanities have been added

[2016-10-31 22:33] #238 closed

[2016-10-31 22:38] #435 closed

[2016-10-31 22:38] abhinandanpb commented on #442
being tracked

[2016-10-31 22:38] #442 closed

[2016-10-31 22:39] #481 closed

[2016-10-31 22:46] abhinandanpb commented on #237
part of k8s contrib.

[2016-10-31 22:46] #237 closed

[2016-10-31 22:55] abhinandanpb commented on #429
Lets reopen if the issue is seens again.

[2016-10-31 22:55] #429 closed

[2016-10-31 22:57] abhinandanpb commented on #401
Closing the issue

[2016-10-31 22:57] #401 closed

[2016-10-31 22:58] abhinandanpb commented on #336
duplicate of - https://github.com/contiv/netplugin/issues/422

[2016-10-31 22:58] #336 closed

[2016-10-31 22:59] #413 closed

[2016-10-31 23:00] #374 closed

[2016-11-01 21:03] srampal opened #593 "Temporarily remove timing sensitive system test cases (eg. TestTriggerNetpluginDisconnect)"
Some of the current test cases such as TestTriggerNetpluginDisconnect in test/systemtests/test_trigger.go seem to be a bit flaky (potentially a timing issue ?) these fail arbitrarily sometimes on Jenkins sanity runs even though they are unrelated to the code changes actually being commited/ tested. This lengthens the overall development and code commit time significantly as these failuers typicall

[2016-11-01 22:00] jojimt commented on #593
Let's not remove tests. Instead, let's investigate the failure. If we remove tests, we won't know what bugs get in.

[2016-11-01 22:10] gaurav-dalvi commented on #577
Can you try with latest version : `v0.1-11-01-2016.18-27-43.UTC` ?
Also Please provide move information.

Which one you are trying docker swarm or K8s ,
Are you trying vagrant or baremetal.
docker version
netplugin version

[2016-11-02 23:22] gaurav-dalvi opened #597 "Unit-Tests fails with this error"
Currently `TestNetworkAddDelete` this test is commented out.
When I enable this test, We get following error.

Error:
[code]

[2016-11-02 23:47] gaurav-dalvi opened #598 "policy inspect should show number of policy violations in the system."

[2016-11-03 07:53] erandu opened #599 "CoreOS support for netplugin"
Hi,

I need to run the contiv netplugin for Docker on coreOS, but I didn't find any documentation about how to use this one on coreOS.
It would be nice to have coreOS support for the netplugin !
Thanks in advance.

@ppadala

[2016-11-03 18:16] gaurav-dalvi commented on #572
@rchirakk

[2016-11-03 18:17] gaurav-dalvi commented on #526
@adammy123 : gentle reminder. Please let us know.

[2016-11-03 18:18] gaurav-dalvi commented on #458
This is in PR. We are tracking at different issue. Hence closing this one.

[2016-11-03 18:18] #458 closed

[2016-11-03 18:24] gaurav-dalvi commented on #85
@erikh : Gentle reminder !
If this has been fixed please close the issue linking the

[2016-11-03 18:51] gaurav-dalvi commented on #318
Issue no longer exists :

[code]

[2016-11-03 18:55] gaurav-dalvi commented on #318
Ideally we should not display all the rules under all the policies when used with -a option.
If we get specific requirement, we can provide that functionality. Not difficult to implement.

Hence closing this issue.

[2016-11-03 18:55] #318 closed

[2016-11-03 19:08] adammy123 commented on #526
@gaurav-dalvi hey, I stopped working on this project already. Sorry for the late response.

[2016-11-03 22:41] rchirakk opened #603 "use official docker client in integration tests"
integration tests use 'samalba' docker client lib. which doesn't work for docker 1.12

[2016-11-03 22:41] erikh commented on #603
\o/

[2016-11-03 22:58] rchirakk opened #604 "fd leak in netplugin"
command run after creating docker container,
`lsof -c netplugin  | grep socket `
netplugin 8388 root    5u     unix 0xffff88000455b840      0t0   2592946 socket
netplugin 8388 root    9u     unix 0xffff880006c0b0c0      0t0   2591368 socket
netplugin 8388 root   14u     unix 0xffff880006c09e00      0t0   2593915 socket
netplugin 8388 root   23u     unix 0xffff880002f892c0      0t0   2592407 socket

[2016-11-04 19:25] gaurav-dalvi opened #605 "CONTIV_NODES=7 make demo , is spiining more than 7 vagrant boxes"
When I run `CONTIV_NODES=7 make demo`

I get this

[code]

K8s and quagga boxes should not get created.

[2016-11-04 19:27] gaurav-dalvi commented on #605
also when I clean up using `vagrant destroy -f `
Other boxes are still running there.

[code]

[2016-11-04 19:28] abhinandanpb commented on #605
@gaurav-dalvi there is no way this could happen. K8s Vagrantfile is in a different directory. make demo cannot bring up k8s nodes. This should have been from ur previous execution. Please close the issue once ur verify it.

[2016-11-04 19:30] abhinandanpb commented on #605
quagga will only spin up if you use CONTIV_L3 env variable and it will destroy with the same.

[2016-11-04 19:57] #588 closed

[2016-11-04 20:26] gaurav-dalvi commented on #605
`CONTIV_NODES=5 make demo ` and
`CONTIV_NODES=5 vagrant destroy -f` cleans up all boxes created during this.

Closing Issue.

[2016-11-04 20:26] #605 closed

[2016-11-04 20:30] gaurav-dalvi commented on #593
related PR : https://github.com/contiv/netplugin/pull/601

[2016-11-08 04:40] #597 closed

[2016-11-08 18:01] vrenjith commented on #577
We are also seeing this with nomad + docker + contiv

[2016-11-08 20:03] abhinandanpb opened #611 "Continuous control interface flap causing loss of network info"
Found in system tests. Network state in docker seems to be temporarily deleted when control interface is flapped continuosly(expected). System tests need deterministic wait to be added instead of random sleep interval.

[2016-11-11 19:56] unclejack opened #616 "switch kubernetes test environment to kubeadm"

[2016-11-15 15:04] erikh opened #621 "tests periodically die due to netplugin crash"
Log below, please investigate.

http://contiv.ngrok.io/job/Netplugin_CI/4636/consoleFull

[2016-11-15 15:12] abhinandanpb commented on #621
@erikh has this test failed on any other PRs ? We havent seen this failure at all.

[2016-11-15 15:23] erikh commented on #621
this fails on the subnet branch which contains no other code changes to anything but the vagrant file.

[2016-11-15 15:24] erikh commented on #621
I think it's crashing due to a concurrent map issue in contivmodel, but we'll see.

[2016-11-16 07:07] rchirakk opened #628 "rate limit controller packets in netplugin"
rate limit controller packets in netplugin.
required for arp & dns

[2016-11-17 01:41] gaurav-dalvi opened #630 "Basic tests are failing on AWS EC2 instances with Contiv + Docker swarm"
Netplugin Log :
https://gist.github.com/gaurav-dalvi/3337d0cdb22835ac4797d7c133c45283

Test Log:

https://gist.github.com/gaurav-dalvi/15191f29e9f6a3189dcb565ce2872c90

[2016-11-18 16:59] serkansahin opened #631 "Allow a tenant to communicate with another one"
All is in the title, is it possible to allow an existing tenant (or by creating a new one) to communicate with an other one ?

Example:
tenant 1 = "default" with one vxlan (default-net)
tenant 2 = "devtest" with two vxlans (devtest-net, devtest-web)

I want to be able as a k8s pod from default-net network to reach another k8s pod in other tenants' networks (devtest-net and/or devtest-web)

Thank y

[2016-11-18 17:03] abhinandanpb commented on #631
@serkansahin : wouldnt that break the whole notion of tenancy ? Can you explain your use-case ?

[2016-11-18 17:09] serkansahin commented on #631
Hi @abhinandanpb !

I actually work to deploy a k8s cluster with contiv instead of using calico/weave or flannel (I've forked Kubespray's Kargo and modified it). Actually, It's perfectly working, I have contiv as the network plugin for Kubernetes, I can deploy new pods on my virtual networks according to their tenants.

But the problem is that my kube-system's pods (kubedns, dnsmasq, kubeproxy) ar

[2016-11-18 22:08] paulsinai commented on #631
Hi @abhinandanpb,

I think @serkansahin would isolate tenants inside one kubernetes cluster using contiv tenant but he needs to reach dns-mask which is in the default tenant (as it is in the kube-system namespace) while he keeps the isolation of each tenant. It would be able to use services inside a tenant without having to redeploy all Kube-system pods.

Thanks for your help :-)

[2016-11-18 23:30] jojimt commented on #631
First off, multi-tenancy under k8s is still under discussion in k8s community itself. But, in practice, you could solve the issue you're referring to, by creating infra pods within each tenant. Looks like you're trying to optimize this by sharing the services. We do not yet support cross-tenant traffic internally within Contiv. However, provided you're not using overlay, you could use the external

[2016-11-21 04:05] yunhostnet opened #632 "Error connecting to OVS. Err: dial unix /var/run/openvswitch/db.sock"
INFO[Nov 21 11:57:10.271239622] Received request to create new ovs switch bridge:contivVxlanBridge, localIP:10.2.22.85, fwdMode:bridge
FATA[Nov 21 11:57:10.271378532] Error connecting to OVS. Err: dial unix /var/run/openvswitch/db.sock: connect: no such file or directory

[2016-11-21 05:27] gaurav-dalvi commented on #632
Hello @yunhostnet could you please give more information on this.
Which OVS version ?
OS ?
Docker swarm or K8s or some other ?
Which netplugin version you are trying here ?

[2016-11-21 11:02] serkansahin commented on #631
Hi @jojimt

Could you explain to me the --nw-type (-n) flag, please ? what's the differences between infra or data networks ?

Thank you !

[2016-11-21 18:53] sdake opened #633 "Question related to Contiv network isolation"
Hey folks,

I know not a whole lot about contiv or what it provides.  One thing that would be helpful for me is isolation of networks within Kubernetes for security reasons.  Essentially I want Kubernetes to mimic bare metal networking in some way and provide eth1/eth2/eth3 (or whatever they may be called) within each of the containers without using net=host mode.  Using net=host mode is workable,

[2016-11-21 18:57] gaurav-dalvi commented on #633
@sdake : http://contiv.github.io/
This has all the information about contiv networking. You may want to see various modes in which contiv networking runs. (L2, L3 / BGP , overlay etc)

[2016-11-21 21:09] danehans commented on #633
@sdake k8s needs to support multiple interfaces/ip's per pod. Please see https://github.com/kubernetes/kubernetes/issues/27398

[2016-11-21 21:09] sdake commented on #633
I see in the docs here:
http://contiv.github.io/documents/networking/features.html

L2 is listed as a feature.  What is missing from this list is "are separate interfaces created" or do we just get one to work with (kubernetes context)?  I suppose VLAN over one interface would work.  What I'm looking for is there a way to create multiple network interfaces in the container with netplugin?

TIA!
-s

[2016-11-21 21:13] jojimt commented on #633
@sdake Can you please provide some details of your use case? As far as kubernetes goes, support for multiple interfaces is under discussion. However, based on your exact use case, we may be able to do something.

[2016-11-21 21:15] sdake commented on #633
@jojimt My use case: https://review.openstack.org/#/c/392257/

In essence we are sharing all traffic over one interface now which lacks security.

[2016-11-21 21:26] jojimt commented on #633
I could not find a reference to multiple interfaces in the url you provided. It's possible it is hidden somewhere and in that case, it will take me some time to get through it. Could you please elaborate what you mean by "In essence we are sharing all traffic over one interface now which lacks security"? Are you referring to separation of tenant traffic from some kind of control traffic that origi

[2016-11-21 23:03] danehans commented on #633
@sdake is involved in the [kolla-k8s](https://github.com/openstack/kolla-kubernetes) project, which is an offshoot of the [kolla](https://wiki.openstack.org/wiki/Kolla) project. Both projects are for deploying OpenStack services (i.e. Nova Scheduler, Neutron API, etc..) in containers. Typical OpenStack deployments contain several different networks for security and traffic isolation purposes. For

[2016-11-21 23:09] danehans commented on #633
@sdake Looks like CNI does not support multiple interfaces per pod either: https://github.com/containernetworking/cni/issues/114

[2016-11-21 23:17] jojimt commented on #633
To elaborate, multiple interfaces bring with it a messy routing problem. With some restrictions, e.g.  the additional interface will be used to forward traffic only to directly connected networks, it is possible limit the complexity and do something in the interim. All of that depends on the use case being addressed.

[2016-11-21 23:45] #603 closed

[2016-11-25 13:25] jiangsuwwj1 opened #637 "How to build contiv netplugin"
I want to install netplugin for docker, but can not found the binary install package. Also I can not found any document about how to build netplugin and integrating method.

please help. thanks.

[2016-11-25 17:50] erikh commented on #637
Builds are here: https://github.com/contiv/netplugin/releases

If you wish, you can check out the repository and `make build`, which will put the artifacts in the `bin/` directory, however it requires a lot of extra tooling to use.

https://github.com/contiv/netplugin#building-and-testing has more information on the tools required.

[2016-11-26 00:52] jiangsuwwj1 commented on #637
Thank you.

[2016-11-26 01:06] gaurav-dalvi commented on #637
closing this !

[2016-11-26 01:06] #637 closed

[2016-11-26 01:24] jiangsuwwj1 opened #638 "Question about kubernetes + contiv netplugin + docker integrating"
1.  How to integrate Kubernetes + contiv netplugin +docker, is there any guide?

2. Kubernetes support CNI, but docker support CNM. Contiv support both CNI and CNM, in this situation which interface should i choose. CNI or CNM?

3. I was confused about how Kubbernetes's CNI works, such as how to create a network, how to add a pod into network, how to remove a pod from network.

[2016-11-26 01:39] gaurav-dalvi commented on #638
hello @jiangsuwwj1 here are the few links for you :

- Container networking tutorial , CNM and CNI : https://github.com/jainvipin/tutorial
- http://contiv.github.io/ -- most of the information about contiv is there.
- How to bring up K8s with Contiv : https://github.com/contiv/demo/tree/master/k8s

Please let us know if you have any questions.

[2016-11-26 01:46] #638 closed

[2016-11-28 17:58] danehans commented on #633
@sdake what are your thoughts? IMO supporting add'l interfaces for local networking is a step in the right direction.

[2016-11-29 04:04] ramukima commented on #570
I am looking to run contiv networking on a bare-metal (standalone) to use with docker. I have consul running. Is there a reference documentation to install on bare-metal ?

[2016-11-29 05:35] gaurav-dalvi commented on #570
@ramukima : Please take a look at this one : https://github.com/contiv/demo/tree/master/net

this script uses ansible to provision necessary services required by contiv and installs contiv on the top of docker swarm as well.
Do you have any specific requirement with consul ? By default we run etcd. But we do support consul as well.

[2016-11-29 15:34] ramukima commented on #570
I looked at the repository. I want to use contiv just with Docker and Consul, no Swarm. Later, I would like to add such an orchestration tool on top. Is there any reference ?

etcd is OK for my exploration, but eventually will need to use Consul.

[2016-11-29 18:34] gaurav-dalvi commented on #570
You should download netplugin and netmaster (contiv) binaries from here : https://github.com/contiv/netplugin/releases

To start netplugin : sudo ./netplugin -vlan-if <Data interface> -ctrl-ip <Control IP>
You can start netmaster like ./netmaster
or Please take a look at this : https://github.com/contiv/netplugin/tree/master/scripts/netContain

Also regarding consul , I will let @jojimt to comment

[2016-11-29 21:45] sdake commented on #633
@danehans the two answers I see that commonly work are vlan on one interface and multiple interfaces directly.  We are using host networking for the dataplane at present and native kubernetes networking for the control plane.  We have the following interface types:

#api_interface: "{{ network_interface }}"
#storage_interface: "{{ network_interface }}"
#cluster_interface: "{{ network_interface }}"

[2016-11-29 21:46] sdake commented on #633
@jojimt apologies for not getting back to you in a timely manner.

[2016-11-30 04:54] ramukima commented on #570
Thanks @gaurav-dalvi , exactly what I was looking for. Will try.

[2016-12-01 19:25] hwinkel commented on #633
I'm coming from reading contiv docs and capabilities. We have the requirement to deploy network functions as pods. I.e. the termination of Tunnel Protocols and forwarding traffic to a next hop as acting as a routing function. That means the we need at least to interfaces here.

[2016-12-07 07:49] jiangsuwwj1 opened #651 "make k8s-cluster failed"
Command "make k8s-cluster" failed, error is as follow.

==> k8master: VirtualBox VM is already running.
==> k8node-01: VirtualBox VM is already running.
==> k8node-02: VirtualBox VM is already running.
==> k8node-03: VirtualBox VM is already running.
[DEPRECATION WARNING]: Instead of sudo/sudo_user, use become/become_user and make sure become_method is 'sudo' (default).
This feature will be
remove

[2016-12-07 18:12] gaurav-dalvi commented on #651
Please provide more details.
OS, netplugin version.

Also we are going to role out new k8s installer (1.4+) so please stay tunned. It will lot easier after that.

I will provide pointers here once its done.

[2016-12-07 18:56] jojimt commented on #651
@jiangsuwwj1: I think you just need to respond to this prompt *Are you sure you want to continue connecting (yes/no)?*

[2016-12-07 18:58] #593 closed

[2016-12-08 10:05] jiangsuwwj1 commented on #651
@jojimt The problem was solved after respond to this prompt.
thanks

[2016-12-08 10:05] #651 closed

[2016-12-09 18:39] gaurav-dalvi opened #652 "Make start is failing"
==> netplugin-node3: Remember that you will have to log out and back in for this to take effect!
==> netplugin-node3: mkdir: cannot create directory ‘/etc/systemd/system/docker.service.d’: File exists
==> netplugin-node3: [Service]
==> netplugin-node3: Environment="no_proxy=192.168.2.10,192.168.2.11,192.168.2.12,127.0.0.1,localhost,netmaster" "http_proxy=" "https_proxy="
==> netplugin-node3: Redir

[2016-12-09 18:42] gaurav-dalvi commented on #652
@unclejack @jojimt  Could you please check on this ?

[2016-12-09 19:49] gaurav-dalvi opened #654 "restrict vagrant up to only if vagrant version is 1.8.6+"
for all vagant files here : https://github.com/contiv/netplugin/tree/master/vagrant

[2016-12-09 19:49] gaurav-dalvi commented on #654
@dseevr : if you know the code fix could you please work on this one ?

[2016-12-09 23:31] gaurav-dalvi opened #656 "netplugin netmaster does not work with redhat 7.x"
Netplugin Logs:
https://gist.github.com/gaurav-dalvi/456afabbc1e8eb7f0387319dc3f5d324

Netmaster Logs :
https://gist.github.com/gaurav-dalvi/5c3db03531e8d47abb4ce9a24d9e5903

etcd Logs :
https://gist.github.com/gaurav-dalvi/b3744c1da9da36ae617d5ab1216870cc

[2016-12-09 23:33] jojimt commented on #656
Clearly an issue with etcd setup. Please close this an open an issue against ansible repo.

[2016-12-09 23:35] #656 closed

[2016-12-13 10:52] peiqi-caicloud opened #658 "netplugin on kube-nodes failed to start."
I installed the kubernetes with netplugin demo according to http://contiv.github.io/documents/gettingStarted/networking/install-k8s.html.
1 master and 2 node.

I found netplugin failed to start with logs of journalctl -u netplugin:

[root@k8node-01 ~]# systemctl status -l netplugin
● netplugin.service - Netplugin
   Loaded: loaded (/etc/systemd/system/netplugin.service; static; vendor preset: disa

[2016-12-13 15:32] jojimt commented on #658
Try running the clean_restart.sh script, followed by verify_cluster.sh.

[2016-12-13 18:35] rkamudhan commented on #633
We developed a CNI called *[Multus](https://github.com/Intel-Corp/multus-cni)* to support Multi-homed pod in Kubernetes, which support multi interface in a pod and support different network in a single pod. Hope this could be a best use case for the guys in this forum.

[2016-12-14 02:58] peiqi-caicloud commented on #658
@jojimt  hello, I restart the service and found a new problem when creating pods:

  FirstSeen	LastSeen	Count	From			SubobjectPath	Type		Reason		Message
  ---------	--------	-----	----			-------------	--------	------		-------
  55s		55s		1	{default-scheduler }			Normal		Scheduled	Successfully assigned redis-srv-2k3iv to k8node-01
  51s		30s		4	{kubelet k8node-01}			Warning		FailedSync	Error syncin

[2016-12-14 03:27] peiqi-caicloud commented on #658
@jojimt  I think the problem is about firewalld.

[2016-12-14 03:53] jojimt commented on #658
yes, that is correct. You need to open the port on the firewall or disable firewall.

[2016-12-14 05:40] peiqi-caicloud commented on #658
@jojimt  hello, I have a new problem:  " 100: Key not found ",  the default pods in kube-system are setup correctly. However, when I create other pods, contiv cannot setup the network config due to the following logs:

it seems the same issue of https://github.com/contiv/netplugin/issues/291.

Events:
  FirstSeen	LastSeen	Count	From			SubobjectPath	Type		Reason		Message
  ---------	--------	-----

[2016-12-14 15:51] jojimt commented on #658
I think you may not have create the tenant and network you're specifying in the podspec.

[2016-12-15 01:44] gaurav-dalvi opened #659 "No healthy node available in the cluster. -- Issue with swarm"
We are using swarm : 1.2.0
Steps to reproduce:

get 2 or 3 baremetal nodes of centos 7
run net_demo_installer script
then use this document https://github.com/contiv/netplugin/blob/master/test/systemtests/How-to-Run.md  to trigger our system-tests

Error log:

[code]

[2016-12-15 01:47] gaurav-dalvi commented on #659
Netplugin Log :
https://gist.github.com/gaurav-dalvi/7389da18f09677949707f825e3e17216

Netmaster Log :
https://gist.github.com/gaurav-dalvi/d12556cd1a0aa145b323d5f7f6edd085

[2016-12-15 06:59] peiqi-caicloud commented on #658
@jojimt Thank you for your notice solved this problem.

However I found pods on different nodes are not reachable. I saw you direct arp packets to controller:65535.

I did n't see sdn controller installation in the script. should I install a sdn controller by myself for connecting pods on different nodes, like Ryu ？

By the way, do you know the openvswitch parse error below？ it's a bug or version

[2016-12-15 09:45] peiqi-caicloud commented on #658
@jojimt  Or, I am wondering should we add the default (Normal probably) flows for each bridge by default.

And I have a question:   does the notion "tenant" in netplugin corresponds to namespace in k8s?  because In k8s， some namespaces should be connected while other namespaces may need to be isolated depending detail use cases.

In my expectation, I hope we can map different networks in netplugin

[2016-12-16 00:11] gaurav-dalvi opened #663 "Create document to run contiv inside container"
Things to be needed :
- Which versions it is supported  (docker swarm + docker ) and (k8s + docker )
- script to build container image out of source code
- command to run netplugin as a container (using docker hub contiv image)
- command to run netmaster as a container (using docker hub contiv image)

we can create document something like this

https://github.com/gaurav-dalvi/demo/blob/contiv-star

[2016-12-16 03:40] gaurav-dalvi opened #664 "make demo is failing"
[code]

[2016-12-17 18:51] gaurav-dalvi commented on #654
@dseevr : Please close this if this has been merged !

[2016-12-17 18:58] dseevr commented on #654
@gaurav-dalvi  It hasn't been merged yet, but this issue will be auto-closed when it does get merged

[2016-12-19 03:02] jojimt commented on #630
Based on: ```INFO[0181] docker: Error response from daemon: No healthy node available in the cluster.```, looks like something wrong with the setup itself.

[2016-12-19 03:05] jojimt commented on #659
Duplicate of https://github.com/contiv/netplugin/issues/652?

[2016-12-19 06:41] peiqi-caicloud commented on #658
@jojimt Would you please have a look for my question?

[2016-12-19 15:56] jojimt commented on #658
Contiv tenant is not tied to k8s namespace. It is completely flexible in that you have the option of placing all the pods in your cluster in the same tenant, same network or net-group. This assignment is performed using **io.contiv.tenant, io.contiv.network** and **io.contiv.net-group** labels. See https://github.com/contiv/netplugin/tree/master/mgmtfn/k8splugin for some examples. By default, ever

[2016-12-20 08:52] peiqi-caicloud commented on #658
Thank you for your response.
@jojimt @erikh @philips
I would like to know how contiv populate the fdb on each host. You use the etcd watch mechanism for synchronizing each host's fdb or use the ofnet agent package, which, to me, looks a little like the l2 pop mechanism in Neutron...

I read a little code, It seems to me you use the second method. The advantages and disadvantages for the first meth

[2016-12-20 10:11] peiqi-caicloud commented on #658
and what is the purpose of BGP part in drivers/ovsdb.go  ovsSwitch.go file ?  personally, I found the code a little disordering...

[2016-12-21 21:27] rhim commented on #663
Currently out of scope. For k8s 1.4 which uses container based setup, it installer should take care of it.

[2016-12-21 21:29] rhim commented on #616
This is k8s 1.4 specific. IMHO, this should be covered by k8s 1.4 installer.

[2016-12-21 21:29] gaurav-dalvi commented on #663
Closing it.

[2016-12-21 21:29] #663 closed

[2016-12-21 21:46] rhim commented on #621
Closing that the build referred to in here got trashed. Need to be opened again if issue shows up again.

[2016-12-21 21:46] #621 closed

[2016-12-21 21:50] jojimt commented on #658
Closing based on: _@jojimt Thank you for your notice solved this problem._

[2016-12-21 21:50] #658 closed

[2016-12-21 22:08] neelimamukiri commented on #664
make demo is working fine for me. Is this an intermittent issue? If you can repro it, please attach the complete log.
Also please note the vagrant version and Virtual box version for reference.

[2016-12-25 07:15] gaurav-dalvi opened #672 "make k8s-cluster does not work."
[code]

on same machine, make demo / make start works perfectly fine.

[2016-12-25 09:03] abhinandanpb commented on #672
This issue is because of guest additions being absent on the host. please install guest additions.

[2016-12-25 19:30] gaurav-dalvi commented on #672
Thanks for clarification. I have that add on installed on my machine.
Also @unclejack  and few other folks have reported different errors related to this.

Reopening it again !

[2017-01-03 18:49] unclejack commented on #672
The kubernetes tests are completely broken right now. This blocks some of my work. I'll work on this to fix this issue.

[2017-01-03 19:40] gaurav-dalvi opened #673 "docker swarm + contiv + ACI -> Need information"
Previously we did not use this command.

`netctl aci-gw set -n "topology/pod-1/node-101,topology/pod-1/node-102" -d "TEST-Phys-Dom" -e yes -i no`

Now if we dont execute this command and then run through our flow, Policies are not getting applied as a contracts in ACI. If we execute this command its works fine.

Contiv version : v0.1-11-30-2016.20-08-20.UTC
ACI-gw version : 11-28-2016.2.0_2g

[2017-01-03 19:43] jojimt commented on #673
The aci-gw object is the way to set those parameters going forward. However, for backwards compatibility, we will support the old method as well. Looks like the backwards compatibility part if not working as expected. Please open this issue against aci-gw and I will take care of it.

[2017-01-04 11:40] fiser321 opened #674 "docker network ls ,then can not find net?"
after install netplugin  then docker network ls  I  am not find the work?

![image](https://cloud.githubusercontent.com/assets/8924920/21641185/365f23ae-d2b5-11e6-96b1-a25bb68ee8f3.png)

![image](https://cloud.githubusercontent.com/assets/8924920/21641202/50f0ad32-d2b5-11e6-9ed6-502568573e95.png)
but run docker network ls, exists some question
![image](https://cloud.githubusercontent.com/assets/89

[2017-01-04 19:10] gaurav-dalvi commented on #674
could you please provide more details ?
`netctl --version`
which orchestration you are using ? (swarm / k8s etc)

[2017-01-05 01:56] fiser321 commented on #674
@gaurav-dalvi

wo have no use  (swarm / k8s etc), my machine only  install docker engine and ovs
env:
I have one machine named centos7.2, I have go env, then git clone https://github.com/contiv/netplugin.git,

![image](https://cloud.githubusercontent.com/assets/8924920/21666386/5359d02c-d32c-11e6-88af-5fc882a37063.png)

cd   ./netplugin/ ./netmaster/ ./netctl/netctl/ ./mgmtfn/k8splugin/contivk8s/

[2017-01-05 02:46] fiser321 commented on #674
git checkout v0.1-12-23-2016.19-44-42.UTC
I first create network  always exist some error, the second time create network can success,
![image](https://cloud.githubusercontent.com/assets/8924920/21667460/3c36c3fc-d334-11e6-87d1-0a06793c1795.png)

[2017-01-05 05:09] fiser321 commented on #674
I know reason ，docker.service   add  --cluster-store=etcd://127.0.0.1:2379/
thank you!

[2017-01-05 05:30] gaurav-dalvi commented on #674
@fiser321 : I am glad you were able to execute this.

[2017-01-05 05:30] #674 closed

[2017-01-05 11:05] peiqi-caicloud opened #677 "dial unix /run/contiv/contiv-cni.sock: connect: no such file or directory"
I run netplugin in a three nodes k8s cluster:

then I found logs in /var/log/contivk8s.log when creating pods:

time="2017-01-05T19:00:25+08:00" level=info msg="cniErr: {\"cniVersion\":\"0.1.0\",\"code\":1,\"msg\":\"Contiv:Post http://localhost/ContivCNI.AddPod: dial unix /run/contiv/contiv-cni.sock: connect: no such file or directory\"}" NETNS=18492
time="2017-01-05T19:00:27+08:00" level=info msg

[2017-01-05 11:06] peiqi-caicloud commented on #677
@jojimt  Hello, I saw you had a similar problem. do you have any idea about this one

[2017-01-05 14:50] unclejack commented on #652
@gaurav-dalvi What issues are you running into after this? The environment seems to be properly set up for me.

[2017-01-06 00:11] abhinandanpb commented on #672
@gaurav-dalvi the error you have posted is for make k8s-cluster and the title says make k8s-test doesnt work. Its misleading. Please make sure you post the right error to the bug.

[2017-01-06 06:27] peiqi-caicloud commented on #677
close this issue please, this is caused by my bad configuration ...

[2017-01-06 06:27] gaurav-dalvi commented on #677
Thanks @peiqi-caicloud .

[2017-01-06 06:27] #677 closed

[2017-01-06 23:21] #654 closed

[2017-01-08 12:19] peiqi-caicloud opened #684 "kubernetes integration issue"
We are working on integrating kubernetes with netplugin.

We configured the file /opt/contiv/config/contiv.json as below:

{
  "K8S_API_SERVER": "https://192.168.16.116:6443",
  "K8S_CA": "/etc/kubernetes/certs/ca.crt",
  "K8S_KEY": "/etc/kubernetes/certs/kubecfg.key",
  "K8S_CERT": "/etc/kubernetes/certs/kubecfg.crt",
  "K8S_TOKEN": "qHmHFgPaLW0MGtHx8PTK93PmWnvrJqmn"
}   and validated of token in

[2017-01-08 12:32] peiqi-caicloud commented on #684
@jojimt @gaurav-dalvi    Hello, I would like to know in which stage our project is?  is it productive ready for kubernetes ?   I have not tested the code for mgmtfn/k8s plugin myself.

thank you for your instructions

[2017-01-08 12:42] peiqi-caicloud commented on #684
By the way, we found the netplugin failed easily:

trace:

[root@c4v148 config]# systemctl status netplugin -l
● netplugin.service - Netplugin
   Loaded: loaded (/etc/systemd/system/netplugin.service; static; vendor preset: disabled)
   Active: failed (Result: exit-code) since 日 2017-01-08 18:10:08 CST; 2h 31min ago
  Process: 15638 ExecStart=/usr/bin/netplugin -cluster-store etcd://192.168.16.116

[2017-01-09 02:49] gaurav-dalvi commented on #684
@peiqi-caicloud : Thanks for trying it out. Are you using K8s 1.3.x ? We have started supporting K8s1.4.+ which is much cleaner and easier experience.

You can try here : https://github.com/contiv/netplugin/tree/master/install/k8s
Please let us know if you face any issues.

[2017-01-09 04:10] peiqi-caicloud commented on #684
@gaurav-dalvi :  Thanks for your reply, We use k8s 1.4+, but for some reason, we need to integrate it with contiv/netplugin in a non-containerized way.  I've tried the demo/k8s before this and it worked fine. Now I am trying to integrate it with our ansible script.

So far, To me, the problem is caused by http router: between cniserver.go  and kubeClient fetchPodLables func:   the http router serv

[2017-01-09 04:13] gaurav-dalvi commented on #684
i will let @jojimt to comment on this one.

In general to use netplugin as per your requirements, You can refer this one  : https://github.com/contiv/netplugin/blob/master/install/HowtoSetupContiv.md

[2017-01-09 04:14] gaurav-dalvi commented on #684
your netplugin version is older. Please use the latest version from here :

https://github.com/contiv/netplugin/releases

[2017-01-09 05:30] jojimt commented on #684
@peiqi-caicloud If you want to use token based auth, you will need to the latest netplugin release and you need to avoid specifying the certs. Alternatively, you can stick to the cert based auth and make sure the certs you specify are valid.

[2017-01-09 07:12] peiqi-caicloud commented on #684
Hello, @jojimt, thank you for your reply!!

does netplugin support user password based auth now ?  I read the code but I have not found user password based info related information

[2017-01-09 08:07] peiqi-caicloud commented on #684
Hello,  @jojimt  @gaurav-dalvi   I replaced the latest netplugin release; I have two questions

First, there is a netcontiv binary, could you let me know what this binary used for and where should I place it.

secondly, I configured the /opt/contiv/config/config.json file as below but the netplugin can not turn into active:

{
  "K8S_API_SERVER": "https://192.168.16.116:6443",
  "K8S_TOKEN": "qHmH

[2017-01-09 09:21] xiaodan1 opened #686 "How to deploy on two host or more host?"
I have a based problem, how to deploy on two host?
e.g. the one host to run netmaster service and netplugin service,
another one to run netplugin service only?
I not use vbox + vagrant , I use "go install" command to compile.

[2017-01-09 11:42] peiqi-caicloud opened #688 "Want to make netmaster ip address configurable"
Currently, the netmaster ip address is assigned by the first local address by default. This case is not always good, especially for vagrant environment.

I am thinking to make netmaster ip address configurable so that the connection between netplugin and kubelet(k8s) can be ensured.

@ddysher @keontang

[2017-01-09 11:43] peiqi-caicloud commented on #684
thanks @jojimt, I think this issue can be closed.

[2017-01-09 11:50] #684 closed

[2017-01-09 18:29] gaurav-dalvi commented on #688
@gkvijay @jojimt : could you please respond to this ?

[2017-01-09 18:29] gaurav-dalvi commented on #664
dont see this issue now. could be intermittent issue. Closing it.

[2017-01-09 18:29] #664 closed

[2017-01-09 20:20] gaurav-dalvi commented on #686
@xiaodan1 : May I know which orchestration engine (swarm or Kubernetes) you are planning to use ?
also which docker version , you are installing ?

@gkvijay Could you please respond to this ?

[2017-01-09 23:40] gkvijay commented on #686
@xiaodan1, are you trying to run the netplugin/netmaster binaries? Do you have etcd running? Please also let us know version of docker, OS and orchestration.

[2017-01-10 02:11] xiaodan1 commented on #686
thanks,
OS: Centos7
docker-engine version: 1.12.5
OVS version: 2.5.0
I use netplugin/netmaster binaries to run , and also run etcd, but The etcd to running not etcd`s cluster,(only one etcd service.)
I modify netplugin/netmaster and netplugin/netplugin code ,  from 127.0.0.1:2379 or localhost:2379  to  <etcd node ip>:2379, and then compile to binaries.
I not use orchestration engine (swarm or Kube

[2017-01-10 02:50] xiaodan1 commented on #686
@gkvijay My environment following:
node1(192.168.51.90/24):  running netmaster service,  netplugin service , netctl (from code compile                                           binaries)
                                          etcd container(docker run -itd -p 2379:2379 elcolio/etcd /bin/bash )
                                          The /etc/hosts  file  have  "127.0.0.1  netmaster"

[2017-01-10 08:55] harryge00 opened #690 "netplugin/netd.go build failed"
Hi, I am a netplugin beginner. I tried to build netplugin but failed:
[code]

[2017-01-10 09:11] DivyaVavili commented on #686
@xiaodan1: Could you recheck your environment states and configs? The same scenario works for me.

Also, you don't have to modify netplugin/netmaster to pass the etcd IP. You could use the -cluster-store option in both netmaster and netplugin as you did for dockerd.

[2017-01-10 09:33] DivyaVavili commented on #686
@xiaodan1: I ran into your issue when docker on node2 was not started before etcd was started on node1.
Try the following sequence:
1. Start docker daemon on both node1 and node2 with cluster-store option
2. Start etcd on node1 with -p 2379:2379
3. Start netmaster and netplugin services and execute netctl commands (you can use cluster-store option here as well)

[2017-01-10 09:44] xiaodan1 commented on #686
execute netctl commands (you can use cluster-store option here as well)  ??
How to use --cluster-store option when i execute netctl commands ???

[2017-01-10 09:56] peiqi-caicloud commented on #690
I think you can augment your project dir's right, by using chmod or chown command

[2017-01-10 10:00] xiaodan1 commented on #686
You are right, It`s all ok!!
on node1:
![image](https://cloud.githubusercontent.com/assets/22994530/21801759/ff375538-d75d-11e6-8041-d608221afc1a.png)

on node2:
![image](https://cloud.githubusercontent.com/assets/22994530/21801770/0f20d9ba-d75e-11e6-8fbf-6f2b4ef79dd2.png)

Is really the cause of the startup sequence.
Thank you very much.

[2017-01-10 10:03] #690 closed

[2017-01-10 10:09] #686 closed

[2017-01-10 23:09] gaurav-dalvi opened #691 "Problem with swarm on docker 1.12"
So when I set DOCKER_HOST,
I dont see anything in docker network ls command

if I dont set DOCKER_HOST,
I do see networks created by contiv under docker network ls command.

This happens when you do make demo.

[code]

[2017-01-10 23:12] gkvijay commented on #691
@gaurav-dalvi please verify docker 1.12 with net-demo-installer

[2017-01-10 23:13] gaurav-dalvi commented on #691
I will. But those are two different platforms.
as of now for `make demo` its broken

[2017-01-10 23:14] gkvijay commented on #691
Yes, we showed you that it was broken in make demo. Could you please verify with net-demo-installer to see if that is also broken

[2017-01-11 12:35] peiqi-caicloud commented on #688
in our case, we have several network interfaces: eth0 eth1 eth2 eth3.  The eth0 addr is 10.0.2.15 which  does not work. but netmaster takes it as its address and the netplugins on nodes trying to fetch infos from 10.0.2.15:9999, as a result, netplugins failed to create EPs.   I modified the netmaster addr to eth1 and it works.

[2017-01-11 13:46] erandu opened #692 "Problem when launching netplugin on an interface"
I am having an issue to use contiv in L2 mode. When I launch netplugin on an interface (using -vlan-if flag ), my coreOS machine is stuck (precision : I use this interface for ssh) . From an external machine, I can't ping this interface. So it seems that this interface goes down.

Environment :
I am using latest contiv docker image.
- netplugin :
Version: pv0.1-09-21-2016.01-34-18.UTC
GitCommit: 9

[2017-01-11 18:54] DivyaVavili commented on #692
@erandu: From your description, it looks like you are using your primary interface(used for ssh) as your uplink to the switch. Please note that the uplinks provided are added as part of the OVS bridge and hence you lose connectivity. For operating in L2 mode, you need atleast two interfaces - one with the ctrl-ip and one/more uplink interface(s) to the switch.

Please reopen the issue if you are s

[2017-01-11 18:54] #692 closed

[2017-01-12 16:52] neelimamukiri opened #693 "Netctl panics during install (sometimes)"
This is the output of the installer:

TASK [contiv_network : pull aci-gw container] **********************************

and then some times it fails with the following message in (set aci mode)

TASK [contiv_network : set aci mode] *******************************************
fatal: [node1]: FAILED! => {"changed": true, "cmd": "netctl global set --fabric-mode aci", "delta": "0:00:00.008454", "end":

[2017-01-12 17:01] abhinandanpb commented on #693
@neelimamukiri this is because netmaster might not have completed its init. We will need to add delay before we set the aci mode in the ansible script.

[2017-01-12 17:06] neelimamukiri commented on #693
@abhinandanpb, we already have a delay + retries at
https://github.com/contiv/ansible/blob/master/roles/contiv_network/tasks/main.yml#L103-L109

Should this be increased? Or may be there is an underlying netmaster startup failure as well.

[2017-01-12 17:10] abhinandanpb commented on #693
I doubt netmaster is failing. Can you check the next time it happens if netmaster failed ? We can try increasing delays and observe it for few runs.
However this does warrant checks in netctl to verify the context to avoid panic. We should handle the error.

[2017-01-12 18:15] gaurav-dalvi commented on #693
@abhinandanpb : we can not ask customer / outside people to change the script and do triaging. We need to try all possibilities within the team and then send message out.

[2017-01-12 18:42] abhinandanpb commented on #693
@gaurav-dalvi  -> @neelimamukiri is in the team :)

[2017-01-16 09:30] erandu opened #698 "Error when choosing a CIDR range inside a subnet"
I am having an issue when I try to specifiy an CIDR  range available inside a contiv subnet, using something like :
`netctl  net create vlan3 -s 200.0.3.50-100/24 -g 200.0.3.254 --pkt-tag 3 --encap vlan`
According to the documentation (http://contiv.github.io/documents/networking/ipam.html), it should work, but I am having error message : `Err: subnet string invalid format `

- contiv/bin/netplugi

[2017-01-16 13:00] erandu commented on #692
@DivyaVavili : Thanks for the information. Working with two interfaces works fine.
But I don't understand why the fact of adding the interface to the OVS bridge cause the lose of connectivity for this interface. Do you know why, or where I can find documentation about that ?

[2017-01-17 06:09] gaurav-dalvi commented on #698
@jojimt / @DivyaVavili  / @abhinandanpb could you please take a look ?

[2017-01-17 18:20] DivyaVavili commented on #698
@gaurav-dalvi: The subnet range format should be specified in this format:
200.0.3.50-200.0.3.100/24

We need to change the document accordingly

[2017-01-17 18:20] #698 closed

[2017-01-17 19:10] unclejack commented on #547
@gaurav-dalvi: Can we close this issue?

[2017-01-17 19:12] gaurav-dalvi commented on #547
i guess now we dont skydns , its ok to close this issue now.

[2017-01-17 19:12] #547 closed

[2017-01-17 19:14] unclejack commented on #572
We don't use SkyDNS any more. I'll close this issue now.

[2017-01-17 19:14] #572 closed

[2017-01-17 23:26] gaurav-dalvi commented on #673
Steps to reproduce :
1: run net_demo (-a oprtion) on one node setup. (number of nodes does not matter)
2: aci-gw version used : `contiv/aci-gw:11-28-2016.2.0_2g`
3: Execute these commands :

[code]
No proper contract is pushed to ACI. It shows default

Now repeat step 1 to 3 and then execute these commands

[code]
You see proper contract is getting pushed to APIC.

[2017-01-18 00:26] jojimt commented on #673
Please try with contiv/aci-gw:01-17-2017.2.0_2g

[2017-01-18 00:29] jojimt commented on #673
This should be opened against aci-gw, not netplugin.

[2017-01-18 00:29] #673 closed

[2017-01-19 01:12] gaurav-dalvi commented on #672
I am still getting this error. even after these steps.

[code]

@neelimamukiri , @abhinandanpb

[2017-01-19 01:41] abhinandanpb commented on #672
does your export folder in vagrant/k8s contain etc_hosts file ?

[2017-01-19 03:08] gaurav-dalvi commented on #672
[code]

Its stuck here since last 15 mins .
Every time i run this i get new error !

[2017-01-19 04:13] abhinandanpb commented on #672
how did u get past the etc_hosts problem ? did u run make k8s-cluster without destroying the vms from previous failed run ?

[2017-01-19 06:34] gaurav-dalvi commented on #672
I executed same command and then i did not see vbox plugin error.
now getting different error after spending 20 mins to download box
[code]

[2017-01-19 06:36] gaurav-dalvi commented on #672
executed same command again and gave this error now

[code]

[2017-01-19 06:49] gaurav-dalvi commented on #672
new error

[code]

[2017-01-19 07:53] DivyaVavili commented on #672
@gaurav-dalvi
- kubeadm getting stuck seems to be have many reasons and is a know issue with kubeadm. I was having the same issue and the reason in my case seems to be slow connectivity. @neelimamukiri can provide more details
- vboxsf issue is because of our atlas boxes missing guest additions
- /shared/.etc_hosts missing error is because the folder is not shared properly because of missing guest

[2017-01-19 14:07] abhinandanpb commented on #672
@gaurav-dalvi executing the same command you will hit multiple errors because vm was already up from ur previous run up. Your only problem is vboxsf and rest all are a consequence. I think you can join the dots from there.
Regarding the python interpreter i hit that issue as well. Previously we did have /usr/bin/python looks like thats changed recently.
I dont see any of these issues on mac. I wil

[2017-01-19 18:41] gaurav-dalvi commented on #672
@DivyaVavili @abhinandanpb : Can we please mention all this procedure in documentation ? (website or github)

[2017-01-19 18:47] dseevr opened #702 "Commit/version/build time vars should be set by the linker rather than relying on codegen"
Right now, the `version` package can't be compiled without running a script which outputs another .go file into its directory.  This setup prevents this package from being re-used by other projects (I hit this recently).

Rather than relying on a script to generate a .go file at build time (see [this commit](https://github.com/contiv/netplugin/blob/c891b87f51f75c6c3cad0bde6bb92b0dab38b2fb/version/

[2017-01-19 19:05] dojacobs opened #703 "Make netplugin_ci more robust to repo failures"
netplugin_ci relies on some external repos for the build, namely epel and ceph.  Unfortunately, there are a lot of transitory network issues that cause one or the other to become unavailable, and then that particular netplugin_ci job fails, but the entire PR job fails as well.

Should make the build script or Jenkins detect these failures, sleep for a bit, and then start over from the beginning.

[2017-01-19 19:07] dojacobs commented on #703
@unclejack - here's the issue.  I'll look at into what Jenkins might be able to do.

[2017-01-19 19:17] dojacobs commented on #703
One solution: rewrite the netplugin_ci job as a pipeline(groovy) script, so each step can be retried if it fails, or abort after n retries.  (may require update to latest version of Jenkins though.)
Example:

stage "foo"
retry (3) {
    # pull from repo...
}

[2017-01-19 20:06] dseevr opened #704 "Port information should be included in netmaster leader address key"
`netmaster` supports specifying a custom listener ip and port via `--listen-url` but the port information is not recorded in the current leader address key:

[code]

[2017-01-19 20:24] jojimt commented on #704
The leader address key is distinct from the netmaster API endpoint. In fact, the for API purposes, the leader key does not even matter. You can pick any of the netmasters regardless of whether it is the leader or not. Just need to append the custom API port (which is fixed).

[2017-01-19 21:19] dseevr commented on #704
@jojimt Do you mean that port 9999 is fixed?  I see that it's hardcoded in a few spots:

https://github.com/contiv/netplugin/blob/master/netmaster/daemon/daemon.go#L109
https://github.com/contiv/netplugin/blob/master/netmaster/daemon/utils.go#L113

If this is the case, starting a netmaster on anything but port 9999 seems like it would break things, and we currently support doing this (e.g., `--lis

[2017-01-19 22:10] dojacobs commented on #703
@JohnKDay says there is local repo for Centos which may contain the ceph and epel stuff, so we may be able to avoid this problem entirely.  Need to change our build system configuration for this.  (at least for netplugin_ci.)

[2017-01-19 22:16] jojimt commented on #704
We will fix the hard-coding.

[2017-01-19 22:39] dseevr opened #705 "When constructing leader URL for forwarding requests, netmaster should not use a hardcoded port"
See discussion in:  https://github.com/contiv/netplugin/issues/704

The ports are currently hardcoded in the following two spots:
- https://github.com/contiv/netplugin/blob/c891b87f51f75c6c3cad0bde6bb92b0dab38b2fb/netmaster/daemon/utils.go#L113
- https://github.com/contiv/netplugin/blob/c891b87f51f75c6c3cad0bde6bb92b0dab38b2fb/netmaster/daemon/daemon.go#L109

[2017-01-19 22:39] dseevr commented on #704
Opened a new issue to track it:  https://github.com/contiv/netplugin/issues/705

[2017-01-19 22:39] #704 closed

[2017-01-19 23:59] neelimamukiri opened #706 "Add fwd_mode param to netplugin for the containerized version"
fwd_mode needs to be passed to https://github.com/contiv/netplugin/blob/master/scripts/netContain/contivNet.sh#L114

[2017-01-20 00:14] abhinandanpb commented on #706
@neelimamukiri just to correct here. fwd_mode is global knob. It is not passed to netplugin. Its set using netctl set global --fwd-mode routing similar to aci

[2017-01-20 00:20] neelimamukiri commented on #706
Okay thanks for the clarification. That means it needs to be cleared as a parameter from the shell script to avoid confusion. As per our discussion this was removed intentionally at https://github.com/contiv/netplugin/commit/1140c8dfcda31683d3899889b40c83355aa7830a#diff-9d2be7734474ea678e9d1d6587b9067d

So we need to:
1. Update the documentation to reflect the fwd-mode setting
2. Cleanup remnants

[2017-01-20 01:09] gaurav-dalvi commented on #672
I was not able to do make k8s-cluster.

new error

[code]

[2017-01-20 01:19] abhinandanpb commented on #672
looks like something has crashed. Likely netplugin. Also can post vboxmanage list vms ?

[2017-01-20 13:22] unclejack commented on #703
@dojacobs I've updated https://github.com/contiv/netplugin/pull/687 to make the provisioning more robust. It removes the ceph repository because it's not used in the Vagrant environment.

This should solve all problems related to ceph.

[2017-01-20 19:00] gaurav-dalvi opened #707 "bump up docker swarm version to 1.2.5 in vagrant setup"
We are still using swarm 1.2.0 in our vagrant setup. Need to bump up to 1.2.5 .
We are using 1.2.5 everywhere else , so want to maintain consistency.

[2017-01-20 20:07] rhim commented on #691
I think that's the default behavior of docker network command with swarm - it doesn't show these "global" entities. If you want to see them, you have to access the docker host directly.

[2017-01-20 20:13] gaurav-dalvi commented on #691
It got resolved by https://github.com/contiv/netplugin/pull/701

Port is changed from 2375 to 3375. I will close this once i verify on baremetal.

[2017-01-20 20:14] gaurav-dalvi commented on #691
to verify on baremetal we need this change as well.
https://github.com/contiv/ansible/pull/307

[2017-01-20 20:16] dseevr opened #709 "When using K8S 1.4 with kubeadm, netmaster should have HA"
@neelimamukiri can you edit this and fill out the details?

[2017-01-20 20:37] gaurav-dalvi commented on #672
[code]

[2017-01-20 22:14] neelimamukiri commented on #672
Some of the kubeadm hang issues are at https://github.com/kubernetes/kubernetes/issues/33729

Some of the environmental factors that lead to kubeadm init hangs are:
1. Network issues - can you ssh -i <vagrant private key> VM
2. If the advertise-api-address being set to an IP that is accessible to all nodes in the cluster
3. Firewall on the host that is blocking the etcd/kube-api-server IPs

[2017-01-20 23:04] gkvijay commented on #691
@gaurav-dalvi, this issue and fix #701 are for make demo. Please close this if its working for you. contiv/ansible#307 is for net_demo_installer

[2017-01-20 23:12] jojimt opened #710 "Support per-EPG IPAM"
Currently, IPAM is tied to the network object. Some use cases require IPAM to be at the EPG level.

[2017-01-23 02:52] #691 closed

[2017-01-23 08:30] rhim commented on #585
@stacykor please address this as part of contiv.github.io overhaul.

[2017-01-23 15:30] #611 closed

[2017-01-23 15:31] #526 closed

[2017-01-23 15:32] #570 closed

[2017-01-24 05:33] gaurav-dalvi opened #712 "Error while running Basic tests"
Error Log: https://gist.github.com/gaurav-dalvi/219d271971aeedc226989d8e41c4ad7b

Netmaster log : https://gist.github.com/gaurav-dalvi/d4602baf48f4b11b8399604247331be3

Latest netplugin version

Running these two tests :

`go test -v -timeout 480m ./test/systemtests -check.v -check.f "TestBasicStartRemoveContainerVLAN|TestBasicSvcDiscoveryVLAN`

Docker swarm 1.2.5

[2017-01-24 05:34] gaurav-dalvi commented on #707
Fixed !

[2017-01-24 05:34] #707 closed

[2017-01-24 05:38] jojimt commented on #712
@rchirakk Looks like a DNS issue. Can you pls take a look?

[2017-01-24 05:40] gaurav-dalvi commented on #712
more specific `TestBasicSvcDiscoveryVLAN ` is failing.

[2017-01-24 06:17] gaurav-dalvi commented on #659
https://gist.github.com/gaurav-dalvi/e308414fad9b29baeae5fd0bd21d4ab3

@jojimt @gkvijay : Could you please take a look ?
I am seeing this issue for long time now. This happens only on baremetal / VM testing and not on Vagrant VMs.

[2017-01-24 06:19] gaurav-dalvi commented on #659
https://gist.github.com/gaurav-dalvi/5d51641ba4e43aad7d1ae1002ed8c3d4
netmaster logs

[2017-01-24 07:27] gkvijay commented on #659
Please give the docker version and the output of 'docker info' from swarm.

[2017-01-24 12:48] erandu opened #714 "Running host Management interface on contivVlanBridge"
I am trying to run host Management interface into the OVS contivVlanBridge setup by contiv, in order to use only one interface for L2 mode. I am trying to reproduce this  http://blog.scottlowe.org/2012/10/30/running-host-management-on-open-vswitch/ where I have to :
- set up an OVS bridge,
- create internal interface,
- move physical interface to bridge,
- move IP address from physical interface t

[2017-01-24 15:42] #703 closed

[2017-01-24 15:49] jojimt commented on #714
Sharing mgmt and data on vlan bridge currently not supported by Contiv.

[2017-01-24 20:19] gaurav-dalvi commented on #659
its docker 1.11

Docker swarm output seemed to be fine. I dont have tht testbed to give it to you.

[2017-01-25 07:45] gerritbinnenmars commented on #714
Hello
We understood that it is not supported.  We don't understand how it can be blocked by contiv but not by ovs? Is there no way to circumvent this?
Greetings Gerrit

[2017-01-25 07:46] neelimamukiri commented on #706
Docs have been updated at https://github.com/contiv/netplugin/tree/master/install/k8s. I've updated the summary to reflect the cleanup task to remove references to fwd_mode as netplugin parameter in the documentation and scripts. I don't think we need to do that for beta.

[2017-01-25 13:09] erandu opened #716 "contivVlanBridge doesn't have multicast snooping enabled by default"
Hello,
I did some test and found that the OVS contivVlanBridge (which connect containers when using contiv in L2 mode) doesn't have IGMP snooping enabled by default.
This mean that if we have 3 containers in the same network on the same host for example:
- Container1 which send multicast data
- Container2 which receive multicast data
- Container3 with tcpdump

If I send multicast data with Contain

[2017-01-25 18:57] rchirakk commented on #712
@gaurav-dalvi
do you know if skydns was enabled/disabled here ?

[2017-01-26 20:05] roschaer opened #719 "panic executing netctl when configuring fabric-mode aci"
#Versions:
Updated centos7

kubeadm version: version.Info{Major:"1", Minor:"6+", GitVersion:"v1.6.0-alpha.0.2074+a092d8e0f95f52", GitCommit:"a092d8e0f95f5200f7ae2cba45c75ab42da36537", GitTreeState:"clean", BuildDate:"2016-12-13T17:03:18Z", GoVersion:"go1.7.4", Compiler:"gc", Platform:"linux/amd64"}

kubectl version
Client Version: version.Info{Major:"1", Minor:"5", GitVersion:"v1.5.1", GitCommit:"

[2017-01-26 20:27] gaurav-dalvi opened #720 "netmaster is failing in lab setup"
[code]

[2017-01-26 20:28] gaurav-dalvi commented on #720
[code]

[2017-01-26 20:37] gaurav-dalvi commented on #720
[code]

[2017-01-26 20:38] gaurav-dalvi commented on #720
[code]

[2017-01-26 21:07] jojimt commented on #720
Why is this opened against netplugin?

[2017-01-26 21:12] abhinandanpb commented on #720
@gaurav-dalvi etcd cluster is not setup right.

[2017-01-26 21:44] gaurav-dalvi commented on #720
etcd service status seems to be fine here.

[2017-01-26 21:56] dseevr commented on #719
I believe this has been fixed by https://github.com/contiv/netplugin/pull/695

[2017-01-27 04:12] #693 closed

[2017-01-27 16:53] rchirakk commented on #712
most likely the default gateway is not reachable here.
I have updated system tests here https://github.com/contiv/netplugin/pull/661/files
Please try it once the PR is merged.

[2017-01-27 19:53] jojimt commented on #720
Closing as this is a setup issue, not a netplugin bug.

[2017-01-27 19:53] #720 closed

[2017-01-27 23:52] gaurav-dalvi opened #723 "Taking too much time on AWS to execute one simple test"
on AWS scenario, we ran this test using our automated test infra :

TestBasicStartRemoveContainerVXLAN

and go this.

Test case passed but do we need to check on this ?

[code]

[2017-01-28 00:17] unclejack commented on #723
@gaurav-dalvi How long does the SSH test take?

[2017-01-28 00:19] abhinandanpb commented on #723
It passed because the error was for a netmaster follower add and it wouldnt affect the data flow.
Do you have the ports open on the nodes ? This looks like reachability issue .

[2017-01-28 00:22] gaurav-dalvi commented on #723
@unclejack : i did not count it. I am guessing around 20 mins for just one test.
Now executed 2 tests in parallel

here is log : https://gist.github.com/gaurav-dalvi/c9bbac33e063dc7df661142de347d396

[2017-01-28 00:23] gaurav-dalvi commented on #723
@abhinandanpb : What are the ports I should open ?

[2017-01-28 00:23] abhinandanpb commented on #723
9001 ?

[2017-01-28 00:24] gaurav-dalvi commented on #723
thats open. Any other ports you would like me to open ?

[2017-01-28 00:24] abhinandanpb commented on #723
9002,9010

[2017-01-28 00:45] gaurav-dalvi commented on #723
its stuck here : https://gist.github.com/gaurav-dalvi/30726c321286d1f188bb84235cbd8658

[2017-01-30 05:51] dseevr opened #724 "Remove "v" prefix from automated releases"
I missed this in https://github.com/contiv/netplugin/pull/696 :frowning_face:

semver doesn't allow a "v" at the start of the version string.

cc: @neelimamukiri

[2017-01-30 09:49] unclejack commented on #724
@dseevr It's good to see you've assigned this to me. This is fixed by https://github.com/contiv/netplugin/pull/699 ;)

[2017-01-30 16:11] stacykor commented on #585
This has been updated along with other issueshttp://contiv.github.io/documents/gettingStarted/networking/swarm.html

[2017-01-30 16:11] #585 closed

[2017-01-30 18:23] dseevr commented on #724
@unclejack awesome, I saw that PR but didn't notice you had deleted the "v" in it 👍

[2017-01-30 18:57] gaurav-dalvi commented on #346
this is fixed !

[2017-01-30 18:57] #346 closed

[2017-01-30 18:58] gaurav-dalvi commented on #485
not seeing these errors anymore.

[2017-01-30 18:58] #485 closed

[2017-01-30 19:00] gaurav-dalvi commented on #584
K8s .14+ already does this. Will open when needed in future.

[2017-01-30 19:00] #584 closed

[2017-01-30 19:01] gaurav-dalvi commented on #598
Not needed in beta version.

[2017-01-30 19:02] gaurav-dalvi commented on #630
will reopen when i see the issue.

[2017-01-30 19:02] #630 closed

[2017-01-31 13:57] erandu opened #726 "Container not removed from etcd in case of a node reboot"
Hello,
I am having an issue when I have a node reboot. Containers running on such a node in a Contiv docker network (Layer2 mode) are not deleted from etcd ( contiv.io and docker reposistory) in case a of node reboot.
I still see the container when I run Docker network inspect.

This cause the following problem : if I want to restart the container somewhere, I have this error :
docker: Error respo

[2017-01-31 15:29] jojimt commented on #726
@erandu do you see the container if you run "docker ps" ?

[2017-01-31 17:35] erandu commented on #726
@jojimt : This is not the problem here. I said a reboot, but it's the same if I shutdown the node.

For example, with the docker native overlay driver, if I run `docker network inspect` (after a shutdown on the node where the container is running) on an other node , I don't see the container, so the container is definitively removed from the cluster. Then I can launch a container with the same nam

[2017-01-31 21:17] gaurav-dalvi commented on #672
this is not resolved. let me test it quickly and i will close this if I dont see the issue.

[2017-01-31 21:39] gaurav-dalvi commented on #672
I got this error on latest netplugin code
[code]

[2017-01-31 21:41] #672 closed

[2017-02-02 18:34] gaurav-dalvi commented on #659
any update on this one @gkvijay

[2017-02-03 15:20] #724 closed

[2017-02-03 16:47] unclejack commented on #723
PR #728 is the first one to address such issues.

[2017-02-03 22:35] DivyaVavili opened #729 "Fix re-initialization during global mode change"
Global fwd mode change reinitializes ofnet states. Add reinitializing steps to completely update ofnet state (including uplink states)

[2017-02-08 09:02] angry-tony opened #734 "is it possible to have multiple "Data network" on netplugin??"
hell all..

i'm wondering if netplugin has multiple data network.
is it possilbe to have multi-values like [ netplugin_if: "eth4, eth5, eth6" ] for container data network ??
anyone know it??
regards,

[2017-02-08 15:34] jojimt commented on #734
"hell all.." I know that Tony is angry. Still, isn't that a bit too much!?

Now to answer the question "is it possilbe to have multi-values like [ netplugin_if: "eth4, eth5, eth6" ] for container data network ??" Yes, this feature has been recently added (e.g. https://github.com/contiv/netplugin/pull/640).

[2017-02-08 21:20] gaurav-dalvi opened #735 "netct group inspect throws go panic error"
[code]

Error is not happening for netctl net inspect .

[code]

[2017-02-08 23:15] gaurav-dalvi commented on #735
In the PR

[2017-02-09 03:32] neelimamukiri opened #737 "netctl global set --fwd-mode bridge overwrites networkInfraType"
$ netctl global info
Fabric mode: default
Forward mode: bridge
ARP mode: proxy
Vlan Range: 1-4094
Vxlan range: 1-10000

$ netctl global set --fabric-mode aci
$ netctl global info

Fabric mode: aci
Forward mode: bridge
ARP mode: proxy
Vlan Range: 1-4094
Vxlan range: 1-10000

$ netctl global set --fwd-mode bridge
$ netctl global info
Fabric mode: default    ******* Fabric mode should not be overwrit

[2017-02-09 04:01] angry-tony commented on #734
Hello, jojint. :)
Do u know me?? Really?? Thanks,

As you mentined it, that means bonding for uplink. Right??
I meant  a container have two seperate data network which means first data network on netplugin has physical nic eth4 and  second data network has eth5.
Is that possible??

[2017-02-09 05:41] jojimt commented on #737
@neelimamukiri @abhinandanpb This is by design. The CLI has default options. If you don't specify the option, it will default.

[2017-02-09 05:44] jojimt commented on #734
ok, that was just based your github id...

We don't have a way to specify multiple networks for the container. However, within the kubernetes community, there is some effort in that direction. Once that is completed, we will support it.

[2017-02-09 05:55] abhinandanpb commented on #737
@jojimt since we allow global set to update any field. This should not be set to default.
fabric-mode is implicitly set to default at init time by netmaster. So it will be changed only if someone explicitly sets different fabric-mode using netctl/Rest call

[2017-02-09 05:58] jojimt commented on #737
I think you're confusing REST api and cli. CLI does have default values for all options (just like command line args).

[2017-02-09 06:12] abhinandanpb commented on #737
except tenant which is for most of the configs we dont need default values set by the cli. Since we can set any global option at any time. Setting default value when it was set to non default previously would be wrong.
for eg : netctl global set --fabric-mode aci
followed by netctl global set --arp-mode flood
should honor the fabric mode aci.

[2017-02-09 07:22] angry-tony commented on #734
Ok. I got it.
Thank you so much.

[2017-02-09 08:16] neelimamukiri commented on #737
@jojimt, I think it is a little confusing from the end user perspective to have the defaults overwrite explicitly set values. I think a read/modify/write semantic may be better in this case. That way we can use the default values for a case where there are no previous user configurations and use the earlier set values for when there is a user specified value.

[2017-02-09 08:41] rhim commented on #737
This is also inline with what UI does (it performs a read/modify/write on the object).

[2017-02-09 15:33] jojimt commented on #737
I think this would be confusing whichever way we do this. I think we are saying these fields have an "initial" value, rather than a default. That said, as @abhinandanpb pointed out, we have ridden of most default values on the global object already. So, I am ok with this definition.

[2017-02-13 12:47] unclejack opened #741 "kubernetes unit tests fail"
There are some issues with the kubernetes unit tests. These tests fail one time out of about 10-15 CI runs.

I've encountered this issue with #615. I thought those issues were caused by my changes, but the same failures were encountered for many other PRs.

[2017-02-13 15:13] jojimt commented on #741
Logs for the failure?

[2017-02-13 15:21] unclejack commented on #741
I don't have the logs. I've seen them in the CI logs of a run. That run's CI logs are gone now because they get deleted automatically.

I'll keep an eye on the CI to see if it runs into this failure again.

[2017-02-14 12:10] unclejack commented on #741
I couldn't reproduce the failures I've seen on the CI. I'm fixing the issues directly.

[2017-02-14 15:30] #737 closed

[2017-02-14 23:09] dseevr commented on #735
Closed by https://github.com/contiv/netplugin/pull/736

[2017-02-14 23:09] #735 closed

[2017-02-16 14:24] akram commented on #397
hi,

any news about this?

[2017-02-16 15:33] srampal commented on #397
Openshift integration for contiv is getting added into the Openshift Ansible repos.

See this repo ...
https://github.com/srampal/openshift-ansible

This should get merged back into openshift ansible repo very shortly (hopefully this month) since we are going through the official certification process with Red Hat right now.

Let us know if you need more details. Also please join our slack channel

[2017-02-18 18:18] unclejack commented on #723
This issue has been sorted out.

[2017-02-18 18:18] #723 closed

[2017-02-18 18:20] unclejack commented on #632
OVS was probably not running. Please make sure that OVS is installed and running. Unfortunately, there's nothing more for us to do to help with this issue.

[2017-02-18 18:20] #632 closed

[2017-02-20 14:01] unclejack commented on #741
A job on the CI has run into this failure:
[code]

[2017-02-21 16:09] gaurav-dalvi opened #753 "error with netctl aci-gw set command"
[root@pod12-srv1 yum.repos.d]# netctl aci-gw set -n "topology/pod-1/node-201,topology/pod-1/node-202" -d "Contiv-PD" -e yes -i no
ERRO[0000] aciGw not found
see this issue with

contiv/aci-gw:02-02-2017.2.1_1h
contiv/aci-gw:12-01-2016.2.1_1h

[2017-02-21 16:21] jojimt commented on #753
Looks like a bug in netctl. Works with the GUI.

[2017-02-22 02:04] spirrello opened #754 "Inb01 interface Disappears After Worker Reboots"
When a worker node reboots the Netplugin containers are restored however inb01 never restored.  I spoke to Neelima and she said to open a case.

OS: Centos 7.x on VMWare
***I also saw this behavior with Centos 7.x on KVM with Ubuntu.

[root@vm7-3 ~]# docker ps
CONTAINER ID        IMAGE                                              COMMAND                  CREATED             STATUS              POR

[2017-02-22 02:15] neelimamukiri commented on #754
Netplugin is in a constant crash restart loop.

time="Feb 22 02:05:59.181970170" level=info msg="Listening for connections on :6633"
time="Feb 22 02:06:19.190598889" level=fatal msg="OVS switch vrouter Failed to connect"
tail: /var/contiv/log/netplugin.log: file truncated
time="Feb 22 02:06:24.215531618" level=debug msg="Got link list(4): [0xc4201bdc80 0xc4201bdd80 0xc4201bde80 0xc4201bdf80]"

Loo

[2017-02-22 14:49] spirrello opened #755 "eth1 Interface on Worker Node Doesn't Transmit Traffic From inb01 interface"
After Netplugin fully establishes and builds the inb01 interface, traffic will not transmit from the LAN side of the connection on eth1.  Traffic is able to traverse on the ingress of eth1 to inb01 and the worker node will respond via inb01 with the correct ARP resolution of the upstream BGP router however traffic will not transmit via eth1.

This problem has been observed using KVM and VMWare.  C

[2017-02-22 21:27] abhinandanpb commented on #755
Observations:
On Vmware Setup:
1) Broadcast Arps from ovs not going out on the uplink interface. Need to investigate driver level issues thats causing ovs not to send arps on uplink intf. DriverName: vmxnet3
2) In underlay network flap cases. The arp appears to be resolved on inb01 because we proxy so bgp on the worker thinks arp is resolved and doesnt re-arp. However we dont have a mechanism to t

[2017-02-24 18:04] unclejack commented on #741
Here's another failure. This one is different.
[code]

[2017-02-25 21:27] jonathan-kosgei opened #760 "Error connecting to OVS. Err: dial unix /var/run/openvswitch/db.sock: connect: no such file or directory"
Hi on attempting to run netplugin as follows on a fresh install
[code]

I get the following error
[code]

[2017-02-25 21:29] jojimt commented on #760
Are you manually installing netplugin? Or using the contiv install tool?

[2017-02-25 21:30] jonathan-kosgei commented on #760
manually installing with https://github.com/contiv/netplugin/blob/master/install/HowtoSetupContiv.md, basically trying to get the two daemons running netmaster and netplugin

[2017-02-25 21:34] jojimt commented on #760
I think ovs may not be installed or there might be a permissions issue.
You might want to use https://github.com/contiv/install instead. It will install everything you need.

[2017-02-25 21:43] jonathan-kosgei commented on #760
I didn't like the install process, plus I'm trying to understand how contiv works. Let me try installing ovs. Thanks for the hint

[2017-02-25 21:49] gaurav-dalvi commented on #760
on you laptop if you have vagrant and Virtual box this will give you running setup.
[code]

or

[code]

[2017-02-25 21:54] jonathan-kosgei commented on #760
@gaurav-dalvi
I get
[code]
with the latter command
@jojimt
Actually the reason I gave up on the installer was because I was running into an ansible error
[code]
Even though my user has passwordless sudo on the remote, and the thing is I can't specify additional ansible options via the install script to get around this by adding perhaps `--ask-pass`

[2017-02-25 21:56] gaurav-dalvi commented on #760
Please follow the steps correctly which i have written above.

[code]

[2017-02-25 21:58] gaurav-dalvi commented on #760
To setup passwordless SSH : http://twincreations.co.uk/pre-shared-keys-for-ssh-login-without-password/

[2017-02-25 22:14] jonathan-kosgei commented on #760
Thanks. Fixed the passwordless sudo. However I'm running into this

[code]

[2017-02-25 22:59] gaurav-dalvi commented on #760
could you please ping us on slack :
https://contiv.herokuapp.com/ Please register wit your email. You can ask questions there as well for faster response.

For this response, please provide more details,
commands which you were running (make demo or make demo-swarm) . What is your ansible host ? (mac or linux ? if linux which distribution etc.)

what do you see at the end ?

[2017-02-27 17:39] neelimamukiri commented on #760
@jonathan-kosgei , did you have /etc/bash_completion.d/netctl installed as part of the manual install process?

[2017-02-27 17:45] jonathan-kosgei commented on #760
No, but I wasn't able to get past running netplugin which nuked my server
and made it inaccessible via ssh.

On Feb 27, 2017 8:39 PM, "neelimamukiri" <notifications@github.com> wrote:

[2017-02-28 15:49] spirrello commented on #754
If I restart the individual contiv/netplugin container on the worker node after the reboot the inb01 interface is built and BGP establishes.

Can we fix this so that it's taken care automatically?

[2017-03-01 00:18] shmcfarl opened #766 "Subnet IP Pool Range - Broken with subnet capacity error"
In the contiv-1.0.0-beta.3 code, when I create a new network with a range, the netmaster logs errors with subnet capacity issues.  This does not happen with all ranges but only certain lengths.  Example:
`netctl network create --encap=vlan --pkt-tag=100 --subnet=10.100.100.194-10.100.100.222/27 --gateway=10.100.100.193 vlan100
Creating network default:vlan100`

This subnet will create the followin

[2017-03-01 00:35] jojimt commented on #766
This does not seem to be "broken". The functionality is all there. However, there is a spurious error message generated in the logs when an inspect is issued. Basically, GetAllocatedIPs encounters an error as nothing has been allocated. We will remove the error log. But, you should be able to use the network. Let me know if that's not the case.

[2017-03-01 01:18] shmcfarl commented on #766
If you say so.  :-)

[2017-03-01 02:56] supereagle commented on #677
@peiqi-caicloud    Meet the same error, could you provide the correct configuration?

[2017-03-01 04:35] neelimamukiri commented on #677
@supereagle, can you upload you /var/contiv/log/netplugin.log file?

[2017-03-01 05:53] supereagle commented on #677
[netplugin.txt](https://github.com/contiv/netplugin/files/809797/netplugin.txt)

@neelimamukiri  This is the log file, please take a look, thanks.

[2017-03-02 16:48] #753 closed

[2017-03-03 00:02] jiahaoliang opened #771 "cluster IP is not working on Kubernetes multi-nodes setup"
Environment:
===
docker version: 1.12.5
contiv version: https://github.com/contiv/install/releases/tag/1.0.0-beta.3
OS: Centos7 (3.10.0-327.28.3.el7.x86_64)
Kubernetes version: kubectl version
`Client Version: version.Info{Major:"1", Minor:"5", GitVersion:"v1.5.1", GitCommit:"82450d03cb057bab0950214ef122b67c83fb11df", GitTreeState:"clean", BuildDate:"2016-12-14T00:57:05Z", GoVersion:"go1.7.4", Com

[2017-03-03 00:09] jojimt commented on #771
Please provide the output from kubectl describe service <service-name>

[2017-03-03 00:15] jiahaoliang commented on #771
@jojimt there you go:
`kubectl get svc -o wide --all-namespaces`
NAMESPACE     NAME              CLUSTER-IP       EXTERNAL-IP   PORT(S)          AGE       SELECTOR
default       example-service   10.254.90.136    <nodes>       8080:31557/TCP   1h        run=load-balancer-example
default       kubernetes        10.254.0.1       <none>        443/TCP          1d        <none>
kube-system   kube-dns

[2017-03-03 01:06] jojimt commented on #771
I am unable to repro this in a similar setup. Can you capture the tcp dump on 192.168.50.46 in the problem scenario?

[2017-03-03 01:56] jiahaoliang commented on #771
@jojimt Tcpdump result on 192.168.50.46 in Experiment 2:
tcpdump -i any "dst net 10.254.0.0/16 or src net 10.254.0.0/16 or dst net 20.1.1.0/24 or src net 20.1.1.0/24"
tcpdump: verbose output suppressed, use -v or -vv for full protocol decode
listening on any, link-type LINUX_SLL (Linux cooked), capture size 65535 bytes
01:53:05.941569 IP 20.1.1.1.39670 > 20.1.1.13.27017: Flags [S], seq 614333009,

[2017-03-03 03:53] jojimt commented on #771
Thanks @jiahaoliang. This is consistent with your analysis. Let me look into this and get back to you.

[2017-03-03 06:03] supereagle commented on #677
This error has been fixed. It is caused by that netplugin is not correctly started as the error config of `/opt/contiv/config/contiv.json`

[2017-03-03 08:37] supereagle opened #772 "getDefaultToken from token file is not right"
When I not set the `K8S_CERT` and `K8S_TOKEN` in the config `contiv.json`, netplugin will read the default token from the token file `/var/run/secrets/kubernetes.io/serviceaccount/token`. But there is additional `\\n` at the end of token, which causes the http header check failure. If fact, there is no auth control for K8s apiserver, but netplugin always needs one token. As a workaround, I have to

[2017-03-03 08:41] supereagle commented on #772
Is there any way to run netplugin with token? If no, whether we need to support this case?

[2017-03-03 23:41] #710 closed

[2017-03-06 19:45] unclejack commented on #741
This is still a problem.

[2017-03-07 19:29] jojimt commented on #771
Based on the debug logs, this appears to be an issue with re-install not cleaning up previous bridge. https://github.com/contiv/install/issues/61 should address this.

[2017-03-08 06:37] supereagle commented on #772
@jojimt  Is this really a bug?

[2017-03-08 07:05] jojimt commented on #772
We do need either token or cert for authentication, unless you want to run api-server in insecure mode. Is that what you're asking about? @neelimamukiri could you look at the newline character @supereagle is referring to?

[2017-03-08 09:29] supereagle commented on #772
Yes. I want to run api-server in insecure mode, but it seems that netplugin can not support.

[2017-03-08 10:26] supereagle commented on #772
I have verified that there is really a newline in my token file when I create it by `vim`. Any need to trim the newline of the content read from the token file?

[2017-03-08 18:45] #766 closed

[2017-03-08 20:08] jojimt opened #775 "Regression/Breakage in release process"
Latest release https://github.com/contiv/netplugin/releases/tag/1.0.0-beta.3-03-08-2017.18-51-20.UTC includes PRs (e.g. https://github.com/contiv/netplugin/pull/774) that have not gone through release sanity.

[2017-03-08 20:48] unclejack commented on #775
I'll work to fix this. We need to investigate to figure out when was the last release made which wasn't affected by this issue.

[2017-03-09 11:20] rootsongjc commented on #760
+1 @jonathan-kosgei
Have you solve the problem?
I got the same problem with you, I manually install contiv on my test environment, I did't use virtual machine, I running 3 physical machines, one for `netmaster`.
[code]
And I don't like `vagrant` for testing, I just want to install contiv by myself not using the shell scripts.
What should I do next? Install *openvswith*?

**My environment**
- Docke

[2017-03-09 11:47] jonathan-kosgei commented on #760
apt-get install openvcs
I ran into other issues and haven't pursued it farther

On Mar 9, 2017 2:20 PM, "Jimmy Song" <notifications@github.com> wrote:

[2017-03-09 13:27] rootsongjc commented on #760
@jonathan-kosgei Got it, I install it with rpm package on CentOS7.2 follow this instructions:http://supercomputing.caltech.edu/blog/index.php/2016/05/03/open-vswitch-installation-on-centos-7-2/
Here it is not a problem any more.

[2017-03-09 14:03] rootsongjc opened #776 "legacy plugin netplugin of type NetworkDriver is not supported in swarm mode"
**environment**

docker 1.13.1
netplugin
[code]

I see the release note [8afd1b7](https://github.com/contiv/netplugin/commit/8afd1b7718c8424a876760d18484124e0aad3557) **Docker 1.13 swarm-mode support for contiv**

Command to create a contiv network
`netctl --netmaster http://172.20.0.113:9999 network create --subnet=10.1.2.0/24 contiv-net`

**Error messages from netmaster daemon**

[code]
Should I

[2017-03-09 17:06] gkvijay commented on #776
@rootsongjc, docker swarm-mode supports v2 plugins. You need to install contiv's v2 plugin
1. start etcd on the host
2. docker plugin install contiv/v2plugin:1.0.0-beta.3
I will document the steps and add it to the repo soon

[2017-03-10 03:07] rootsongjc commented on #776
@gkvijay My hosts have no Internet access. So how can I install the `contiv/v2plugin`？ Does it have a github project for the v2plugin?  If there is, maybe I can build it by myself.

[2017-03-10 06:38] supereagle opened #777 "Proposal: support to run against secured etcd"
In production, ETCD should be secured with TLS to ensure the security and stability, but Contiv currently does not support secured etcd. This is an essential feature when use Contiv in produtin, any plan to support this?

[2017-03-10 06:52] jojimt commented on #777
Yes, this is one of the things we would like to do, but delayed due to resource crunch at the moment. Would be happy to accept a contribution on this.

[2017-03-10 07:20] supereagle commented on #777
I am glad to contribute this work.

[2017-03-12 15:46] gerritbinnenmars opened #779 "Building contiv network container fails"
After git clone contiv/netplugin the following command fails:
[root@localhost netplugin]# scripts/netContain/BuildContainer.sh
+ ARG1=none
+ '[' none == reinit ']'
+ sudo modprobe openvswitch
+ imgName=contiv-network-plugin
+ dockerBuildIt . contiv-network-plugin
++ docker build .
++ grep 'Successfully built'
++ cut -d ' ' -f 3
The command '/bin/sh -c make build' returned a non-zero code: 2
+ imgI

[2017-03-12 16:25] gerritbinnenmars commented on #779
Please, upgrade the Dockerfile to: FROM golang:1.7 to solve this issue

[2017-03-14 20:22] unclejack commented on #775
I've looked into this. It seems we need to make some more changes to the release process. It's also likely that the different CI jobs which are part of the preview release can also experience a race condition.

[2017-03-14 20:37] dseevr commented on #779
The step the build process is failing on doesn't have anything to do with Go:

[code]

@unclejack do you know what's going on here?

[2017-03-14 22:58] unclejack commented on #779
@dseevr: Have you run `make run-build` first?

[2017-03-14 23:00] dseevr commented on #779
@unclejack I ran `./scripts/netContain/BuildContainer.sh` as documented [here](https://github.com/contiv/netplugin/tree/master/scripts/netContain#introduction) and this is the step the `docker build` command failed on

[2017-03-15 17:26] gerritbinnenmars commented on #779
Correct, the original error occurs in make run-build in the go install step in the subdirectory netplugin.
Below it the output when this step is done manually. See also: https://github.com/docker/engine-api/issues/385

root@5ddc7f2af0b2:/go/src/github.com/contiv/netplugin# GOGC=1500 go install -v ./netplugin
github.com/contiv/netplugin/vendor/github.com/docker/engine-api/client/transport
github.co

[2017-03-15 19:09] unclejack commented on #779
@gerritbinnenmars: I'll send a PR shortly to fix this issue. I'm sorry you've had to deal with this problem.

[2017-03-15 23:47] srampal opened #786 "Make contiv debug port configurable"
Necessary for Openshift integration

[2017-03-16 13:37] rootsongjc commented on #779
### make build error
**Error**
[code]
**Detail**
[code]
**Environment**
CentOS7.2.1511
go version go1.7rc6 linux/amd64

[2017-03-16 20:58] jojimt commented on #779
I am wondering how this breakage slipped through. Does this mean that this build is not part of our sanity? If so, we need to fix that as well.

[2017-03-16 21:03] unclejack commented on #779
PR #785 addresses the encountered issues.

I'll submit a PR after #785 is merged to add it to the tests.

[2017-03-16 21:07] unclejack opened #790 "make the netContain build part of the tests"
This has come up in #779.

[2017-03-16 22:46] dseevr commented on #719
Closing as this issue has been fixed for a while

[2017-03-16 22:46] #719 closed

[2017-03-17 10:05] supereagle commented on #772
I have 2 questions about this issue:
* Whether need to filter the newline character when reading from token file?
* Whether need to support insecure K8s apiserver?

@jojimt  Any comments?

[2017-03-18 03:02] #490 closed

[2017-03-18 08:41] jonathan-kosgei commented on #760
Hi @rootsongjc were you able to plow through the manual install? Wish contiv had anything else other than ansible, would actually have been very happy with bash scripts :)

[2017-03-18 10:59] unclejack commented on #779
This was fixed by #780. That Dockerfile was the one which was causing this particular error.

#785 cleans up the image building script to make it more reliable and to avoid otther issues. #785 also makes the script more robust to avoid issues in a future Docker release.

[2017-03-18 10:59] #779 closed

[2017-03-20 15:14] #790 closed

[2017-03-20 20:56] jojimt opened #797 "Avoid allocating vlan for nw in ACI mode"
In ACI mode, we currently allocate a VLAN id for the network object. This is unnecessary in ACI mode and should be avoided.

[2017-03-21 23:19] camrossi opened #801 "netctl aci-gw accepts only up to 2 path-bindings"
Is not possible to configure the aci-gw with 3 or more path-bindings via netctl:

Working:
[code]

Non-Working:
[code]

Please note that all the paths are working fine as shown in the Working examples

[2017-03-22 00:22] #801 closed

[2017-03-22 21:30] rchirakk opened #805 "implement k8s Network Policies in contiv"
implement k8s Network Policies in contiv

[2017-03-30 08:15] chenjie901 opened #812 "failed to create network"
[code]
[code]
# docker plugin ls
ID                  NAME                                 DESCRIPTION                        ENABLED
0864a1ae6d96        store/contiv/v2plugin:1.0.0-beta.3   Contiv network plugin for Docker   true
[code]

[2017-03-31 05:14] unclejack commented on #741
I'm reopening this issue because I've seen it again on the CI.

[2017-04-04 14:47] srampal opened #813 "Add default policy group/ epg"
Needed to allow initial communication for white-list networking scenarios such as ACI.

[2017-04-05 19:32] gaurav-dalvi opened #817 "Display formatting issue with netprofile"
[code]

where testProfile is network profile and not policy.

[2017-04-09 23:27] #702 closed

[2017-04-11 17:50] DivyaVavili commented on #705
Fixed by #818

[2017-04-11 17:50] #705 closed

[2017-04-11 21:25] gaurav-dalvi opened #822 "make demo gets stuck if I use consul"
Steps to repro :
1: git clone ----
2: cd netplugin
3: export CONTIV_CLUSTER_STORE: “consul://localhost:8500

error

[code]

[2017-04-12 00:10] srampal commented on #813
Added this feature via PR
https://github.com/contiv/netplugin/pull/815
which is now merged .. closing issue

[2017-04-12 00:10] #813 closed

[2017-04-12 18:58] jojimt opened #827 "Panic from BGP Inspect"
L3 CI encounters a panic.

[2017-04-13 17:56] gaurav-dalvi opened #828 "make demo is failing"
I did git clone of latest repo and ran make demo on it.

[code]

[2017-04-13 17:59] pmichali opened #829 "Add IPv6 support for Kubernetes"
As first step, we would like to have dual-stack IPv6 support for the Contiv plugin. The Kubernetes community is pushing towards supporting IPv6 and the goal is to ensure the Contiv plugin has corresponding support for IPv6.

In the future, detail tasks will be added, as they are identified.

Ref: https://github.com/kubernetes/kubernetes/issues/1443

/cc @vijaygkrishnan @shmcfarl

[2017-04-13 18:10] pmichali commented on #829
This part of the conversation will track individual tasks/work streams for the effort.

- [ ] Program the IPv6 address and default route for a pod created under a dual-stack configuration.
- [ ] Provide host <--> pod communication over IPv6 network.
- [ ] Add IPv6 support for both L2 and L3 networking modes.

[2017-04-13 18:49] PhilipSchmid commented on #776
I got it working with the following commands:

[code]
After the service restarts, I was able to create networks using netctl:
[code]

Regards,
Philip

[2017-04-13 19:01] PhilipSchmid commented on #812
I've got the same problem.. Have you found any solution yet?

Regards,
Philip

[2017-04-13 19:27] DivyaVavili commented on #822
Fixed by PR #831

[2017-04-13 19:34] DivyaVavili commented on #688
Fixed by #818

[2017-04-13 19:34] #688 closed

[2017-04-13 19:41] DivyaVavili commented on #267
works now

[2017-04-13 19:41] #267 closed

[2017-04-13 19:48] DivyaVavili commented on #375
No longer see the issue.

[2017-04-13 19:48] #375 closed

[2017-04-14 04:05] feiskyer opened #834 "Does contiv support kubernetes v1.6?"
There is same question at https://github.com/kubernetes/kubernetes.github.io/issues/2942#issuecomment-288208514, but no response is got there.

[2017-04-14 17:13] #828 closed

[2017-04-14 20:53] #822 closed

[2017-04-15 17:48] #827 closed

[2017-04-17 16:32] opsnull commented on #834
same question here.

[2017-04-17 16:38] neelimamukiri commented on #834
Contiv supports it, if you install it on the host as a systemd service (https://github.com/contiv/demo/tree/master/k8s). Current kubectl based installation is not supported due to https://github.com/kubernetes/kubernetes/issues/44041. We will be testing it once the fix is available in 1.6.2.

[2017-04-18 09:12] mhrobinson commented on #422
I've just submitted a pull request to fix the issue:

https://github.com/contiv/netplugin/pull/840

[2017-04-19 05:20] mhrobinson commented on #508
I don't see this issue anymore.  Is it consistently reproducible?

I tried on https://github.com/contiv/netplugin/commit/ff611a2f064496246fa724fe64f46ac9586d4bf4

[2017-04-19 13:49] matjohn2 commented on #490
@rayang2004 What was the solution here?
Thanks

[2017-04-20 01:37] rayang2004 commented on #490
@matjohn2  Finnaly I use kubadm & "kubectl apply -f https://raw.githubusercontent.com/contiv/install/master/install/k8s/k8s1.4/contiv.yaml".

[2017-04-20 16:15] PhilipSchmid commented on #812
Hi there,

Is there still no update on this?

[code]

I'm using Docker Swarm with the `contiv/v2plugin:0.1` plugin:
[code]

`netctl` is on version `1.0.0`.

Thanks!

Regards,
Philip

[2017-04-20 16:21] PhilipSchmid commented on #812
Short update.

I just found out, that currently only `Engine 1.12.x` & `Swarm 1.2.5` is supported as shown here [http://contiv.github.io/documents/support/supportmatrix.html](http://contiv.github.io/documents/support/supportmatrix.html). Do you guys have any plans when support for `17.03.1-ce` and the newest Docker Swarm version (I guess currently its `1.2.6`) will be added?

Thanks

Regards,
Phil

[2017-04-20 17:38] PhilipSchmid commented on #812
See [https://gist.github.com/gkvijay/e8e8f2a6a00c9887fb2abfb0adf742b3](https://gist.github.com/gkvijay/e8e8f2a6a00c9887fb2abfb0adf742b3)

[2017-04-20 17:51] PhilipSchmid opened #843 "/run out of free space while using v2plugin:0.1"
Hi there,

I just realized on my 3 Docker Swarm nodes, that v2plugin:0.1 filled the /run partitions 100%..

[code]

[code]

[code]

Why do you place logs in `/run` and not `/var/log`? I also think a provided logrotate would be nice. Is there a way to lower the log verbosity to crit, warn or something like this?

Example log entries:
`/run/contiv/log/netplugin.log`:
[code]
`/run/contiv/log/netmaste

[2017-04-20 22:58] jojimt opened #844 "Avoid spurious endpointUpdates to master"
Current implementation of Docker events handling can result in spurious updates being sent to netmaster. Appropriate filtering must be applied before sending the update. Additionally, it may be better to avoid listening to docker events directly when it is not necessary.

[2017-04-20 23:05] jojimt opened #845 "Garbage collect endpoints"
In some cases, it is possible for a container to disappear without a notification to the network plugin. We need a way to garbage collect those endpoints. Preferably, there should be a manual way as well as a (conservative) automatic way to do this.

[2017-04-21 06:08] opsnull commented on #834
I installed kubernetes 1.6.2, but test failed:

[code]

kubectl describe pod defaultnet-busybox1
`  13s           0s              12      kubelet, 10.64.3.7                      Warning         FailedSync      Error syncing pod, skipping: failed to "CreatePodSandbox" for "defaultnet-busybox1_default(624cd92d-2657-11e7-af4a-8cdcd4b3be48)" with CreatePodSandboxError: "CreatePodSandbox for pod \"defa

[2017-04-22 09:17] peiqi-caicloud opened #851 "About: release-1.0 how to use cfgtool binary for etcdstatedriver; kubernetes"
Hello,

I build the release-1.0 version and Got netmaster, netplugin, contivk8s, netctl and cfgtool.
I installed netmaster, netplugin, contivk8s, netctl these four binaries in a 4 nodes k8s cluster.

I got the following logs, I don't know how to install cfgtool, Is it necessary to build the cluster ？

[root@172-25-9-142 ansible-dhNet]# systemctl status netmaster -l
● netmaster.service - Netmaster

[2017-04-22 09:23] peiqi-caicloud commented on #851
Besides, I got my kubelet logs: in the " network setup " step, It seems the /run/contiv/contiv-cni.sock reused to be connected ?

d-2624-11e7-a0d0-0cc47ab4e904)\" using network plugins \"cni\": Contiv:Post http://localhost/ContivCNI.AddPod: dial unix /run/contiv/contiv-cni.sock: connect: connection refused; Skipping pod"
d-261b-11e7-a0d0-0cc47ab4e904)\" using network plugins \"cni\": Contiv:Post h

[2017-04-22 17:27] DivyaVavili commented on #851
@peiqi-caicloud: cfgtool is not required to get the cluster up and running. Could you confirm if you have created the default-net before deploying anything else in the cluster?

[2017-04-22 18:14] opsnull opened #853 "DelEndpoint returned 500 Internal Server Error"
I installed netplugin v1.0.1 in kubernetes 1.6.2 clusters, and I found lots of error log in contivk8s.log as following:

[code]

[2017-04-22 18:18] opsnull commented on #834
I tested netplugin 1.0.1 in kubernetes 1.6.2, work again!

[2017-04-23 01:17] peiqi-caicloud commented on #851
@DivyaVavili Hello,  I deployed kubernetes cluster and create pods for test (It uses default docker0 to setup network at that time), then installed netplugin components manually and reconfigured k8s. After that I found no network was created in default tenant so I used netctl to create a network. I also created net group and policy...

[2017-04-23 01:18] peiqi-caicloud commented on #851
In which situation we shall use cfgtool ? I am interested in it.

[2017-04-24 15:00] gogolxdong opened #854 "netctl group create : networks have overlapping IPv4"
netctl net create contiv-srv-net -s 100.1.1.0/24
netctl group create contiv-srv-net web-group -policy=web-policy

[code]

[2017-04-24 17:08] rchirakk commented on #854
check ```netctl net ls ```
if you have any other network with ip from this range

[2017-04-24 18:36] rchirakk commented on #853
@opsnull are you able to create/delete pods ?
can you send netmaster & netplugin logs ?

[2017-04-25 01:09] gogolxdong commented on #854
it conflicts with the network just created which the creating group to be associated.

[2017-04-25 01:29] gogolxdong commented on #854
Due to our production enviroment has no access to vagrant and dockerhub I deployed netplugin in binary distribution form rather than container.Docker version is 1.12.6 with docker swarm init eth0

[2017-04-26 04:17] gogolxdong commented on #854
In fact,it conflicts with the just created network ,no matter what ip rang is.

[2017-04-26 09:05] peiqi-caicloud commented on #851
caused by bad config...

[2017-04-26 09:05] #851 closed

[2017-04-27 05:10] peiqi-caicloud opened #858 "proposal: add ovs patch port type"
our group currently work on netplugin as our kubernetes' network solution.

I see netplugin use linux veth pair to link container and bridge.
Do we have a plan to add ovs patch port instead of linux veth, cause I saw ovs patch has a better performance than linux veth pair.

[2017-04-28 06:23] #858 closed

[2017-04-28 14:16] riffraff169 opened #859 "netctl group inspect -j creates invalid json"
Output includes the line:
Inspeting endpointGroup: epgA tenant: TestTenant
which (ignoring spelling error), makes the resulting json output invalid.  Removing this line makes it json parsing work.

[2017-04-28 16:52] rchirakk commented on #854
can you check docker networks & inspect for conflicting ip range ?
[code]

[2017-04-28 19:55] Kent-H commented on #254
Any update on this?  Creating a contiv network via docker creates an incomplete, broken network.

[2017-04-28 21:51] gaurav-dalvi commented on #254
@rhim could you please reply on this thread ?

[2017-04-28 21:57] rhim commented on #853
@opsnull How did you install? Currently Contiv doesn't support 1.6.2 clusters installed with kubeadm.

[2017-04-28 22:26] #709 closed

[2017-05-01 17:00] neelimamukiri opened #862 "netctl net create should raise an error is the gateway is not specified in routing mode."
Creating a network without a gateway specified, while in routing mode is pretty much useless and confusing to users as to why it does not work. It is simpler if we just throw an error at the network creation time.

[2017-05-01 21:25] overip opened #864 "Exposed Service not accessible using cluster IP"
Hello, I am running into an issue. I installed k86 1.5.6 and Contiv 1.0.1. Then I created the network and assigned a gateway with the following command $ netctl net create -t default --subnet=20.1.1.0/24 -g 20.1.1.1 default-net
Then  I created a nginx container, exposed the service, then tried to wget the index.html using nginx (container name) instead of using the IP from both another container a

[2017-05-01 21:30] neelimamukiri commented on #864
@rhim @rchirakk , this is vxlan on AWS

[2017-05-02 08:44] rhim commented on #254
This will become a non-issue with move to v2plugin and swarm mode. One would no longer need to create contiv network via netctl in that work flow. Full support for v2plugin and changed workflow is planner for v1.1

[2017-05-02 16:26] rchirakk commented on #862
```while in routing mode is pretty much useless and confusing to users  ```
gateway is required only for routing
Isn't a proper document enough for this ?
another approach would be to allocate a gateway when user has not specified one.

[2017-05-02 21:09] rchirakk commented on #862
In docker (swarm) environment if you don’t specify a gateway, docker creates a gateway and uses docker bridge to route the traffic out. So we should continue to have an option to allow creation of network without a gateway. In routing mode, this would mean that we can only reach containers in the same network and not across networks. This is the same behavior as docker networks (no routing across)

[2017-05-02 21:15] DivyaVavili commented on #862
We could add a troubleshooting section in our document to debug issues like this. But specifying a gateway is not mandatory in all use-cases.

[2017-05-03 00:06] gaurav-dalvi commented on #862
if user does not specify should we by default use some address and default gateway in all modes ?

[2017-05-03 12:36] gogolxdong commented on #854
`docker network inspect contiv-srv-net`
[code]

[2017-05-03 16:41] neelimamukiri commented on #862
@rchirakk, "In docker (swarm) environment if you don’t specify a gateway, docker creates a gateway and uses docker bridge to route the traffic out.", can we then do this for kubernetes as well? Updating docs and adding troubleshooting are fine, but users usually try out and only start debugging when things dont work. It is a waste of time and frustrating and if we can prevent it by having sane def

[2017-05-04 13:50] pmichali commented on #829
@gkvijay Right, but even with L2, when IPv6 is selected, no IPv6 is set up in the pod and no default route is created (like is done for V4).  That is the first checkbox item above, and is a quick fix, IMHO.

The thought is that, we could use these comments to raise specific issues related to IPv6 support, and then commits could be applied to this issue, to address any issues that require modificat

[2017-05-04 13:51] pmichali commented on #829
Can we get this overall issue (or the checkbox items) prioritized?

[2017-05-05 15:50] rchirakk commented on #864
this requires new routes in host.

[2017-05-05 18:48] spirrello opened #871 "Can't Delete Group Because of Stale Endpoints"
If I try to delete a group, Netctl won't allow me to even though the deployment/pods have been completely deleted.

**Example:**
[root@at4d-lvk8sm01 deployments]# kubectl get deployments --namespace --all
No resources found.

[root@at4d-lvk8sm01 deployments]# kubectl get pods --namespace --all
No resources found.

root@at4d-lvk8sm01 deployments]# netctl group rm dmz1-epg -t bb-hsec
ERRO[0001] Erro

[2017-05-05 19:43] Kent-H opened #872 "Multiple Interfaces Created in Container"
I was poking around with the demo-v2plugin, and discovered that every container created has two network interfaces.

I can't seem to create a container with *only* the contiv network, there is always another interface which provides internet connectivity.  I want to create containers which are connected directly to (one or more) contiv networks, and nothing else.

I would have expected this to be

[2017-05-05 19:46] spirrello opened #873 "BGP Routes on Switch Exist After Deleting Pods"
This could be related to the following issue:
https://github.com/contiv/netplugin/issues/871

After deleting pods, BGP routes for the deleted pods still exist on my switch.  I've tried resetting the BGP session between my switch and K8s node but the routes eventually repopulate.

Model of switch:
Cisco Nexus 9372PX
NX-OS: 6.1.2.I3.3a

[2017-05-08 06:29] gkvijay commented on #872
@Kent-H: When you created the contiv network, was the gateway option also specified?

[2017-05-08 07:10] #844 closed

[2017-05-08 12:44] Kent-H commented on #872
I don't think it was...  Are subnet & gateway both required?  (My eventual goal is to have networks with no subnet, gateway, or IP addressing of any kind, in order to run Layer 2 services.)

[2017-05-08 16:47] gkvijay commented on #872
The subnet is always required (L2 or L3). The IP address for the container is allocated from this pool. The gateway is optional in L2. If contiv network is configured with a gateway, traffic to a destination outside the network subnet will be sent to gateway mac for routing. If contiv network is created without a gateway, then Docker creates an additional interface to connect the container to dock

[2017-05-08 17:18] Kent-H commented on #872
Why is a subnet/IP assigned, even in L2 mode?  IP is usually considered L3...

Having a subnet & IP is currently a requirement for docker network plugins.  Perhaps this is why contiv requires them?

[2017-05-08 17:28] gkvijay commented on #872
In L2-mode forwarding in contiv will use mac address lookup, but the containers need to have IP address. Applications will use IP address of container independent of the networking mode (L2/L3).

[2017-05-09 19:17] gaurav-dalvi commented on #862
@rchirakk  @DivyaVavili : any update here ?

[2017-05-09 20:21] truncj opened #874 "Contiv with K8s Tutorial - Netplugin - "tcp :9002: bind: address already in use""
Hi guys -- I'm running into a few issues using the [tutorial](http://contiv.github.io/documents/gettingStarted/networking/k8s.html).

After running ./setup_cluster.sh I'm having issues with netplugin and netmaster pods, despite them running.

- [vagrant@k8master log]$ k get pods -o wide
- NAME                               READY     STATUS          RESTARTS   AGE       IP             NODE
- contiv

[2017-05-10 19:13] gaurav-dalvi opened #875 "go 1.6.2 does not compile code."
Need to bump up minimum version of go in the makefile.

[2017-05-10 20:35] gaurav-dalvi commented on #875
Need to increase max version as well.

[2017-05-11 20:00] truncj opened #876 "Basic questions about Contiv and k8s"
I was able to get Contiv working on my kubernetes cluster and was able to deploy the pods shown in the [example](http://contiv.github.io/documents/gettingStarted/networking/k8s.html). However, I have a few questions about issues I've been running into.

1. Is it expected that we cannot do host to pod networking? (ie. ping busybox from k8master)

2. Is it expected that kube-dns will be broken after

[2017-05-11 21:48] DivyaVavili commented on #876
@truncj: Which version of netplugin are you using? "netctl version"

You should be able to ping the container from the host.

This is no longer true. kube-dns can be used in vxlan mode

Please make sure that you have exposed the pod's port 80. You can use services to expose the pod's port.

netctl services are intended to be used for docker services. If your intention is to expose services in kube

[2017-05-12 04:38] chungewa commented on #864
k8s + contiv/vxlan mode:
[root@netmaster multi-tier]# kubectl get service
NAME         CLUSTER-IP     EXTERNAL-IP   PORT(S)        AGE
frontend     10.108.41.31   <nodes>       80:32108/TCP   4m

**[root@k8s-worker-1 log]# curl 10.108.41.31:80
curl: (7) Failed connect to 10.108.41.31:80; refused**

[root@k8s-worker-1 log]# journalctl -xe -u kube-proxy
-- No entries --
[root@k8s-worker-1 log]#

[2017-05-12 05:08] neelimamukiri commented on #874
The bind error is harmless and can be ignored. Can you post the complete logs?

The current supported install mechanism is to follow https://github.com/contiv/install. Please follow the k8s section there.

[2017-05-15 07:05] yekaifeng commented on #853
Same error messages occurred to me, but the add/ del pods operations are ok.
It's because k8s cni invoke del pod multiple times (2-3) with the same pod, sometimes. You can check whether the first TearDown messages is properly handled by  K8S_POD_INFRA_CONTAINER_ID.
Looks like a bug from k8s. I am using kubernetes v1.6.3.

=================================================
time="2017-05-15T14:25:03+

[2017-05-15 15:51] truncj commented on #876
thanks for the response @DivyaVavili

I'm using Contiv 1.0.1

<img width="606" alt="screen shot 2017-05-15 at 11 50 50 am" src="https://cloud.githubusercontent.com/assets/1036796/26066419/c3b3a0de-3964-11e7-87ae-173e87c9944c.png">

<img width="682" alt="screen shot 2017-05-15 at 11 45 13 am" src="https://cloud.githubusercontent.com/assets/1036796/26066399/b095c22a-3964-11e7-99d7-5159f4646cec.png">

[2017-05-15 15:51] #874 closed

[2017-05-15 16:54] DivyaVavili commented on #876
1. What is your fwd-mode set to(```netctl global info```)? Can you create a "contivh1" infra network and then retry? This is the command to create "contivh1" infra network" ```netctl net create -n infra -s <subnet-ip> -g <gateway-ip> contivh1```

2. The documentation needs to be updated. We will follow up further on this. There is no longer a requirement to delete kube-dns. It can co-exist with co

[2017-05-15 20:23] truncj opened #878 "kube-dns - Liveness probe failed"
Hi guys, running into some issues with kube-dns pod.

After my previous issue, I was advised to recreate the contivh1 infra network, which I have since recreated. Now I'm noticing in the kube-dns container of my pod is showing the following "liveness probe" error:

`Liveness probe failed: Get http://20.1.1.1:8080/healthz-dnsmasq: net/http: request canceled while waiting for connection (Client.Time

[2017-05-15 20:26] #876 closed

[2017-05-15 20:26] truncj commented on #876
Recreated the contivh1 infra network. Created a new issue about kube-dns specifically ( #878 )

[2017-05-16 03:46] rchirakk commented on #878
@truncj you need to specify a gateway for default-net  20.1.1.0/24 (netctl net create )

[2017-05-16 13:41] truncj commented on #361
Running into the same issue when trying to update an existing network

[2017-05-16 14:27] gogolxdong opened #879 "k8s create pod failed in CNI plugin mode"
kubectl create -f pocnet-busybox.yaml with kubelet --network-plugin=cni command-line option resulted in repeat of
[code]
observation from tailf /var/log/contivk8s.log
kubernetes version is v1.6.2

[2017-05-16 17:11] truncj commented on #878
@rchirakk I recreated the cluster and created the default-net with a gateway (20.1.1.1)... The error is still the same.

`kubelet k8worker01}	spec.containers{kube-dns}	Warning	Unhealthy	Readiness probe failed: Get http://20.1.1.2:8081/readiness: net/http: request canceled while waiting for connection (Client.Timeout exceeded while awaiting headers)
`

[2017-05-16 18:10] rchirakk commented on #878
Can you try to access http://20.1.1.2:8081/readiness from host ? can we have a look at your setup ? webex ?

[2017-05-16 20:45] truncj commented on #878
As suggested, I commented out the readiness/health probes using "kubectl edit deployment kube-dns".. this removes the error allowing all of the containers to come up. Still working with @rchirakk to get kube-dns working fully.

[2017-05-17 07:22] rchirakk commented on #879
can you check if  netplugin is running ?
```kubectl get pods -n kube-system -o wide```

[2017-05-17 10:07] gogolxdong commented on #879
As mentioned in the previous issue of `netctl group create overlapping ipv4`，we adopted a binary executable deployment rather than container  since we can't make any progress with official guide through making k8s-cluster or demo etc.  because of no access to vagrant https. I'm sure netplugin was running at that time.

[2017-05-17 17:42] rchirakk commented on #879
the error message shows that contiv plugin is not able to reach netplugin(contiv process in host).

@gogolxdong can you join contiv slack channel, https://contiv.herokuapp.com/
so some can check your setup/debug ?

[2017-05-19 08:48] feiskyer commented on #834
Closing this since it already supports kubernetes 1.6.

[2017-05-19 08:48] #834 closed

[2017-05-26 02:44] haoyixin opened #885 "Does not support mesos containerizer."
i've go a error from sandox

[code]

with mesos plugin and mesos containerizer, it seems that executor can not communicate with mesos-slave for registering self…

full log of mesos-slave

[code]

Update

my issue in mesos jira [MESOS-7565](https://issues.apache.org/jira/browse/MESOS-7565)

got a comment

[code]

a relative about calico [MESOS-5061](https://issues.apache.org/jira/browse/MESOS-5061)

[2017-05-26 06:08] rchirakk commented on #885
@haoyixin there has been some change in host access from container,
try
configure global mode to ```routing```  (```netctl global info```)
Add host access with contivh1 infra network,
``` netctl net create -n infra -s 10.10.10.0/24 -g 10.10.10.1 contivh1``` (you can choose any CIDR)
Make sure you configure container network with gateway.
then  launch containers from marathon

[2017-05-28 06:29] haoyixin commented on #885
@rchirakk thx for reply and i will try once i return from leave, then the feedback

[2017-06-01 08:57] rchirakk commented on #864
It is because ```wget``` picks wrong interface/source-ip (multiple nics in host)
the solution is to force the source ip
```wget --bind-address=(ip address of contivh1)  <nginx-service-ip>```

[2017-06-01 08:58] rchirakk commented on #878
fixed in https://github.com/contiv/netplugin/pull/887

[2017-06-05 16:06] truncj opened #890 ""Policy is being used" despite not being used by an EndpointGroup"
Ran into an issue while trying to add a policy to one of my EPGs, where it said the policy didn't exist. No matter, I went through manually deleting the EPGs, ANPs, and then the Policies. But even though I had deleted the other objects, I still can't delete the rogue Policy.

`ERRO[0000] Policy is being used [github.com/contiv/netplugin/netmaster/objApi.(*APIController).PolicyDelete apiController.

[2017-06-05 22:55] rchirakk commented on #890
can you try
```netctl policy  inspect <policy-name> ```
And check EndpointGroups associated ?

[2017-06-06 02:59] haoyixin opened #891 "Netplugin CRASH when first request to load balancer."
first, i've added a lb to contiv, and i got this log from netplugin:

[code]

i found nothing abnormal, then:

[code]

real server was working, then:

[code]

but it was hanging, and i got this log from netplugin, then netplugin exited:

[code]

[2017-06-06 04:56] rchirakk commented on #891
Can you give some more details about your setup & what are you trying to do ?
if you are using kubernetes,
You don't need to add contiv service.

[2017-06-06 06:18] haoyixin commented on #885
i've temporary implemented it for mesosplugin.
https://github.com/haoyixin/netplugin/commit/9e76c8463f9d987e51de54abb90abc535763648a

[2017-06-06 06:22] haoyixin commented on #891
@rchirakk thx for reply

a relative issue you've answer before is https://github.com/contiv/netplugin/issues/885

then i did some, and that worked, but a new problem here

[2017-06-06 07:20] #859 closed

[2017-06-06 13:45] truncj commented on #890
`[root@netmaster ~]# netctl policy inspect testapp1-exp-policy
Inspecting policy: testapp1-exp-policy tenant: default
ERRO[0000] Key not found [github.com/contiv/netplugin/state.(*EtcdStateDriver).Read etcdstatedriver.go 121]`

Looks like etcd is out of sync with the environment.

[2017-06-06 16:48] rhim commented on #891
@haoyixin Are you building from source yourself? It would be nice for you to describe the following along with the issue:

Cluster hw - servers/networking gear
OS
Container platform/scheduler
Build version (if using our release), commit ID/branch otherwise

From the logs, it is evident that libOpenflow is not handling a specific packet type.

`
2017/06/06 10:47:32 Unhandled Field: 105 in Class: 1

[2017-06-06 20:37] rchirakk commented on #890
check network ``` netctl net inspect <network>``` and see if there are any endpoint groups (epg) associated.
check contiv etcd cluster health ``` etcdctl -C http://localhost:6666 cluster-health```
dump keys to check epg, ```etcdctl -C http://localhost:6666 ls --recursive```

[2017-06-06 20:48] rchirakk commented on #885
1. ```netctl service ```is only for docker,
   It is NOT supported for mesos.
2. If you want to implement/try ,
     the service network has to be different from the container network. (check docker config http://contiv.github.io/documents/networking/services.html)
     backend needs to be updated  on container creation/deletion (CNI request).

[2017-06-07 02:18] haoyixin commented on #891
@rhim thx for reply

HW: VMs on a private zstack
OS: CentOS Linux release 7.3.1611 (Core)
Platform: Mesos(unified containerizer)/Marathon
Build version: https://github.com/haoyixin/netplugin/commit/9e76c8463f9d987e51de54abb90abc535763648a

more detail on https://github.com/contiv/netplugin/issues/885

[2017-06-07 02:21] haoyixin commented on #885
@rchirakk thx again for your recent replys

i will try soon ^_^

[2017-06-07 18:13] #878 closed

[2017-06-07 18:15] #225 closed

[2017-06-12 15:09] #885 closed

[2017-06-12 15:27] #879 closed

[2017-06-12 18:09] gkvijay commented on #659
@gaurav-dalvi Please close this issue if you are not seeing it now

[2017-06-14 21:49] #875 closed

[2017-06-16 02:49] #854 closed

[2017-06-20 06:44] PhilipSchmid opened #901 "Dangling endpoint prevents Contiv network to be deleted"
## Description

Netctl can't delete Contiv network because of a dangling endpoint. No container is added to the Contiv network and the Contiv network is not visible via `docker network ls`:
[code]
I've created the Contiv network with version `1.0.2` and left it there during the uninstallation of version `1.0.2` and installation of `1.0.3`. With version `1.0.3` I'm now not able anymore to delete th

[2017-06-20 07:00] PhilipSchmid commented on #901
Additional infos: Here are the regarding keys from the ETCD cluster:
[code]

[2017-06-22 05:15] DivyaVavili opened #902 "Initialize mesos plugin only in mesos mode"
Currently, mesos CNI driver is initialized by default even in docker/kubernetes mode. By default, the mode is picked up as docker mode and we end up creating docker networks when operating in mesos mode. Create a mode to be used by both netplugin/netmaster to initialize mesos plugin properly.

[2017-06-23 23:30] #805 closed

[2017-06-24 00:25] romiljainb opened #903 "Feature request: Implement load balancing of DNS queries."
Hello,

It would be helpful to have load balancing of DNS queries for containers attached to one group. Right now only the first container that was associated with the group's response is returned.

Thanks

[2017-06-25 22:00] mark-church opened #904 "Contiv worker issue installing in Swarm"
I hope I'm not doing something wrong but I'm doing the following steps and having issues with installing a Contiv worker in a Swarm cluster. This setup has two nodes, a Swarm manager and worker. I am using an RC version of Docker in this test. I am going to try with a more stable version of Docker next.

[code]

etcd is running as a container on the manager node
[code]

The Contiv master installat

[2017-06-25 23:13] mark-church commented on #904
I was able to get it working by running etcd on both of the nodes and not just pointing the worker at the master etcd instance. It looks like contiv makes the assumption that etcd is at `localhost` regardless of what address you pass in.

I also tried running running the second node as the `worker` node which also makes an assumption that etcd is local.

[2017-06-25 23:31] #904 closed

[2017-06-27 18:54] rchirakk opened #908 "move netdXX() functions to a utility"
mgmtfn/k8splugin/driver.go: move netdXX() functions to utility

[2017-06-28 07:36] lidajia commented on #771
I have the same problem, can't connect to a service ip from the service's pod.
I have a nginx service 10.10.10.180 and nginx pods 20.1.1.3, in the nginx pod  the connection to 10.10.10.180  was return timeout, but the connection to other service was ok.

[2017-06-30 17:43] unclejack opened #910 "TestBasicHostAccess fails"
The system tests fail with this error:
[code]

This failure was observed with Docker 1.11.2. It may or may not happen with a different version of Docker.

[2017-07-03 20:22] unclejack commented on #910
This issue was caused by a change in the Docker install script from get.docker.com. The previous version was allowing us to install the old versions of Docker engine (e.g. before the docker-ce change and the ab.cd versioning scheme).

The CI job which was installing Docker 1.11.2 would now install Docker 17.06 CE. I've fixed this issue temporarily by disabling the 1.11.2 job. This disabled job can

[2017-07-04 18:51] lainra opened #913 "Netplugin panic on K8S when running pods with Contiv CNI plugin"
--------------------------------------------------------
BUG REPORT INFORMATION
------------------------------------------------------------------------------
--> Hello,

I found a bug with netplugin when running Contiv v1.0.3 on K8S v1.6.3 on Centos 7.3.
I'm using a modified Kargo to install K8S.
I've been troubleshooting this bug with @neelimamukiri on slack and am creating a bug issue here as t

[2017-07-05 22:47] dseevr opened #915 "Make netplugin resilient against unconfigured data stores"
## Description

When netplugin starts, it will contact etcd/consul ("the data store") and attempt to read the configuration it should use.  If no configuration is present, it will load a default configuration (mainly, forwarding mode becomes "bridge") and establish a watch to be notified of future changes.

There is some kind of race condition or timing bug where netplugin can come up but have a f

[2017-07-05 23:17] rchirakk commented on #913
@Lain92  was there any local changes done in netplugin source code ?
Or did you configure/modify OVS in this setup ?

[2017-07-06 07:21] rchirakk commented on #910
Can you check it locally & see the host has ip forwarding turned on ?
in this test, a container is trying to ping master ip and is failing.

[2017-07-06 07:21] unclejack commented on #910
@rchirakk: Sure, I'll try this out and comment here.

[2017-07-06 14:00] unclejack commented on #910
I've looked into this for a bit. IP forwarding is enabled on all of the netplugin VMs. The netfilter firewall and NAT rules don't seem to be the cause either.

`CONTIV_DOCKER_VERSION=1.11.2 make stop start` can be used to bring up a setup which makes this test fail. I'll investigate this further.

[2017-07-07 07:57] unclejack commented on #397
@srampal: Can we close this issue?

[2017-07-15 11:46] PhilipSchmid commented on #901
To be honest I don't know if it was smart, but using `etcdctl rm <keys-from-above>` at least seem to resolve my problem..

Regards,
Philip

[2017-07-15 11:47] #901 closed

[2017-07-18 01:22] rhim commented on #777
@supereagle any update?

[2017-07-18 04:32] supereagle commented on #777
@rhim Sorry, I am not working on Contiv, and do not have enough time for this work.

[2017-07-20 10:23] vrenjith opened #925 "Connecting Multiple Networks without ACI"
We are attempting to configure contiv with multiple networks and trying to make the connectivity between networks. We do not have ACI gateway and when we check the routes within the container we do not see a route to the other network. Any hints on how to set this right? The commands used are listed below.

Rule Creation
[code]

Docker run :
[code]

Network create :
[code]

Group creation:
[code]

[2017-07-20 10:28] Dilandeau commented on #913
Hi @rchirakk there was no change done on the netplugin source code or OVS configuration in this setup

[2017-07-20 16:53] Homorgan opened #927 "Contiv plugin will not install"
Attempting to load contiv 1.1.0 plugin on to a clean install of Centos (running in Vagrant).  Plugin install keeps failing:
vagrant@master:/etc$ docker plugin install contiv/v2plugin:1.1.0 plugin_role=master
Plugin "contiv/v2plugin:1.1.0" is requesting the following privileges:
 - network: [host]
 - mount: [/etc/openvswitch]
 - mount: [/var/log]
 - mount: [/var/run]
 - mount: [/lib/modules]
 - cap

[2017-07-20 19:37] rchirakk opened #928 "remove re-init option from https://github.com/contiv/netplugin/blob/master/scripts/netContain/scripts/contivNet.sh"
re-init is not used anymore.

[2017-07-21 05:26] gaurav-dalvi commented on #925
By default in Non ACI mode everything is allowed. So two EPG containers , who are under same network (your case) should be able to ping each other.
Please check mode in `netctl global info ` command.

Also Please make sure you have connectivity like this
http://contiv.ciscolive.com/pod1 -- see the image at the bottom of page.
instead of aci leaf you can put TOR there.

[2017-07-21 16:27] rchirakk commented on #925
@vrenjith you need to specify a default gateway in ```netctl  net create  ...```

[2017-07-21 18:21] vrenjith commented on #925
* The request was not about connectivity between EPG in the same network @gaurav-dalvi , it was about connectivity between networks.
* @rchirakk - We do not have a gateway as this is a situation when we use contiv in public clouds like AWS or Azure.

[2017-07-21 18:24] DivyaVavili commented on #925
@vrenjith: You do not have to create a separate gateway in the public cloud. If you mention the gateway IP with `-g option` in network create command, netplugin will act as a proxy gateway.

[2017-07-21 19:49] rhim opened #932 "Update to new version and add workflow for TOKEN based auth"
## Description

#### Expected Behavior

#### Observed Behavior

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Your Environment

* netctl version
* Orchestrator version (e.g. kubernetes, mesos, swarm):
* Operating System and version

[2017-07-23 18:12] hwinkel commented on #633
is there any progress for the multi interface use casse?

[2017-07-24 18:23] rchirakk opened #934 "verify nomad/docker port mapping in vxlan routing mode."

[2017-07-25 09:42] dirkwoellhaf opened #935 "App-Profile Err:500 Internal Server error when using ACI External Contracts"
------------------------------------------------------------------------------
BUG REPORT INFORMATION
------------------------------------------------------------------------------

## Description
Getting Err: 500 INTERNAL SERVER ERROR as soon as Application-Group is linked to an ACI External Contract. Application-Profile and Application-Group no longer available in the GUI and NETCTL.
Unable to d

[2017-07-25 17:37] gaurav-dalvi commented on #935
Can you try normal contracts ? (dont do external contract) and let me know if its still work.
I hope you have used contiv installer to bring up swarm + contiv cluster. (contiv/install repo)

[2017-07-25 18:00] dseevr commented on #935
Could you retrieve the log from `netmaster` at the time of the failed request/operation attempt?

[2017-07-25 19:18] unclejack commented on #910
This issue still requires attention.

[2017-07-25 19:51] rhim opened #936 "Proposal: support openflow 1.5 for stateful flow tracking"
## Description
Use openflow 1.5 version that allows stateful flows

[2017-07-25 22:28] alexbrand opened #937 "Unable to access pods directly via the pod IPs when the pods are exposed as a service"
## Description

I configured contiv with K8s, and ran our smoke test utility (https://github.com/apprenda/kuberang) which performs a couple of networking checks.

This tool deploys an nginx pod and a busybox pod, exposes the nginx pod as a service, and ensures that the busybox pod is able to wget the nginx pod directly via the pod IP, the service IP and DNS.

When running against a cluster with Co

[2017-07-26 12:57] dirkwoellhaf commented on #935
@gaurav-dalvi - Normal Contracts work just fine

@dseevr - which logs to collected? Where are thery stored?

[2017-07-26 19:04] dseevr commented on #935
Logs are under `/var/contiv/log/`

[2017-07-26 21:12] g1rana commented on #508
Looks like issue has been fix'd  from earlier release . Issue doesn't seem to be exist in  current release . Have tried follow version :

[vagrant@netplugin-node1 ~]$ netctl -v
netctl version
Version: 1.0.0-beta-07-26-2017.21-06-22.UTC
GitCommit: 1e2213f
BuildTime: 07-26-2017.21-06-22.UTC

Here are some logs outputs :
=====
 netctl global info
Fabric mode: default
Forward mode: bridge
ARP mode: pr

[2017-07-26 21:30] dseevr commented on #508
Looks like this was fixed 6 days after this issue was reported:  https://github.com/contiv/contivmodel/pull/40

[2017-07-27 00:13] DivyaVavili commented on #936
## Initial analysis

- ### Using conn_track
  - Set conntrack action_(ct_next)_ to forward packet to Netfilter's conneciton tracker which maintains the hash of the state of the connection.
  - The packet will then be resubmitted to the OVS flow table which can then be hashed to service instances based on new metadata from conntrack (conn_state bits exist to track new/established connections)

- ##

[2017-07-27 00:24] DivyaVavili opened #938 "Enhancement: Have an option for a single control/data interface for vlan mode"
### Description

Have a single interface that can be used for both and control and data interface for vlan mode. In environments where there is a single interface for the host (typically for public could VMs with cost implications), provide an option to use the interface for both control and data traffic in vlan mode.

[2017-07-27 12:39] hellochosen opened #939 "Unable access pod from k8s Nodeport"
## Description
I configured contiv with k8s, and create a service in k8s, but it can't access pod from k8s nodeport.
I noticed that contiv had support k8s nodeport in the code.[1]

But there is no guide about how to setup, or do we need to create a contiv service like the guide[2]?

[1] https://github.com/contiv/netplugin/pull/505/commits/5c879ca8d6a472e885cf265bfbd6fa6246d2ea0b
[2] http://contiv.

[2017-07-27 19:14] alexbrand commented on #937
I have noticed that this behavior changes depending on what is accessed first.

The pod IPs and service IPs are accessible if the pod IPs are accessed before the service IP is initially accessed.

The pod IPs are unreachable if the first request issued by the busybox pod is to the service IP.

[2017-07-27 22:06] rchirakk opened #940 "k8s failed to create pod with error flow exists"
from "contiv-users"
[code]

[code]

[code]

[code]

[code]

[2017-07-29 00:14] gaurav-dalvi commented on #935
@dirkwoellhaf : we have tested external contracts with latest contiv and aci-gw 2.2.2j version. It seems working fine for us. Could you please share you set of netctl commands ?

you can join contiv slack here and then ask questions there.
To join contiv slack please register with your email : https://contiv.herokuapp.com/

[2017-07-31 18:27] unclejack commented on #927
@Homorgan: Can you provide the output of `docker info` and `docker version`, please?

[2017-07-31 19:15] alexbrand opened #942 "Support multiple etcd backend endpoints"
Currently, only one etcd endpoint can be provided to Contiv. Ideally, I should be able to provide multiple etcd endpoints in case one of my etcd nodes in the cluster goes down.

[2017-08-01 04:47] rchirakk commented on #942
contiv should point to etcd running in the localhost/same host and etcd cluster provides high availability.
contiv-installer work  is in progress to do this.

[2017-08-01 04:49] rchirakk commented on #939
@hellochosen can you check ip forwarding, /proc/sys/net/ipv4/ip_forward on the host ? it should be turned on.

[2017-08-01 05:47] hellochosen commented on #939
@rchirakk, thanks for your reply, ip_forward had already set to 1. There is no traffic in KUBE-NODEPORTS chains.
Chain KUBE-NODEPORTS (1 references)
 pkts bytes target     prot opt in     out     source               destination
    0     0 KUBE-MARK-MASQ  tcp  --  *      *       0.0.0.0/0            0.0.0.0/0            /* default/nginx-demo: */ tcp dpt:30080
    0     0 KUBE-SVC-53PNG6KROACM5MQP

[2017-08-01 15:10] alexbrand commented on #942
This would work, but it requires the colocation of the contiv pods with the etcd processes on the same machine. This might not always be desirable. For example, you could have a dedicated etcd cluster with nothing else running on the machines.

[2017-08-01 18:50] Homorgan commented on #927
[vagrant@localhost ~]$ docker info
Containers: 1
 Running: 0
 Paused: 0
 Stopped: 1
Images: 1
Server Version: 17.06.0-ce
Storage Driver: overlay
 Backing Filesystem: xfs
 Supports d_type: true
Logging Driver: json-file
Cgroup Driver: cgroupfs
Plugins:
 Volume: local
 Network: bridge host macvlan null overlay
 Log: awslogs fluentd gcplogs gelf journald json-file logentries splunk syslog
Swarm: acti

[2017-08-02 06:32] rchirakk commented on #939
you should see rules & pkt count in CONTIV-NODEPORT.
Can you check these
```nettle global info```
```netctl net ls -a```
```kubectl get svc```
```kubectl describe svc <svc-name>```

[2017-08-02 06:33] rchirakk commented on #938
this will cause network connectivity failure for short time.

[2017-08-02 06:44] rchirakk commented on #937
@alexbrand that's right We don't allow pod IP Address access after service ip is used.
do you guys have some use-case that requires access to pod ip addresses (for services)?
pod ip will be accessible from hosts for health check.
And you can access it from busybox using service/cluster-ip or service-name.

[2017-08-02 06:52] rchirakk commented on #927
Can you check arguments passed ? refer https://github.com/contiv/netplugin/blob/9cfa1a387d9a0b84d3ec59fd70f5639c0c5b378f/install/v2plugin/README.md

[2017-08-02 06:57] hellochosen commented on #939
[root@contiv-node1 ~]# netctl global info
Fabric mode: default
Forward mode: bridge
ARP mode: proxy
Vlan Range: 1-4094
Vxlan range: 1-10000
Private subnet: 172.19.0.0/16
[root@contiv-node1 ~]# netctl net ls -a
Tenant     Network       Nw Type  Encap type  Packet tag  Subnet         Gateway     IPv6Subnet  IPv6Gateway  Cfgd Tag
------     -------       -------  ----------  ----------  -------

[2017-08-02 06:58] hellochosen commented on #939
`ron-openvswitch-agent.service
[root@node-1 ml2]# systemctl stop neutron-
neutron-lbaasv2-agent.service      neutron-metadata-agent.service     neutron-openvswitch-agent.service
[root@node-1 ml2]# systemctl stop neutron-
neutron-lbaasv2-agent.service      neutron-metadata-agent.service     neutron-openvswitch-agent.service
[root@node-1 ml2]# systemctl stop neutron-openvswitch-agent.service
[root@n

[2017-08-02 06:59] hellochosen commented on #939
`[root@contiv-node1 ~]# netctl global info
Fabric mode: default
Forward mode: bridge
ARP mode: proxy
Vlan Range: 1-4094
Vxlan range: 1-10000
Private subnet: 172.19.0.0/16
[root@contiv-node1 ~]# netctl net ls -a
Tenant     Network       Nw Type  Encap type  Packet tag  Subnet         Gateway     IPv6Subnet  IPv6Gateway  Cfgd Tag
------     -------       -------  ----------  ----------  -------

[2017-08-02 15:43] Homorgan commented on #927
I am only passing the plugin_role=master argument.  I tried to use the plugin_role=worker argument.

[vagrant@localhost ~]$ docker plugin install contiv/v2plugin:1.1.0 plugin_role=worker
Plugin "contiv/v2plugin:1.1.0" is requesting the following privileges:
 - network: [host]
 - mount: [/etc/openvswitch]
 - mount: [/var/log]
 - mount: [/var/run]
 - mount: [/lib/modules]
 - capabilities: [CAP_SYS_A

[2017-08-02 17:24] rchirakk commented on #939
[code]
Forward mode should be in "routing" mode, netctl global set -b routing
How did you install contiv/k8s ? Did you assign service network 10.20.x.x ?

[2017-08-10 19:07] alexbrand commented on #942
@rchirakk Got it. That should indeed work, but is there any reason why we can't just pass multiple servers to contiv? The etcd client supports it.

[2017-08-14 19:23] ngpitt opened #951 "API returns 500's when deleting nonexistent resources"
## Description
DELETE requests made to the API for nonexistent resources results in a text (non-json) message with error code 500. This results in clients having to text search the response to distinguish between nonexistent resources and internal server errors.

#### Expected Behavior
As per the API documentation, the API responds with error code 404.

## Steps to Reproduce (for bugs)
1. Submit a

[2017-08-18 21:43] ngpitt opened #954 "Support for adding and remove rules without service disruptions"
## Description
Currently, adding or removing rules that are linked to an ANP (policy => EPG => ANP) cause that ANP to be deleted and recreated. While this has little effect on network connectivity in Contiv-only setups, the effect is much more prominent when using Contiv with ACI and can lead to noticeable downtimes.

#### Expected Behavior
When using Contiv with ACI, adding and removing a rule cr

[2017-08-22 14:16] jiangsuwwj1 opened #955 "With vlan mode of netplugin, docker network break sometimes"
Recently I encountered a network problem.
I used vlan mode of netplugin and create a subnet of 10.99.0.0/19, then specific the gateway of 10.99.0.252. So there will be eight thousand addresses in the subnet.
Sometimes docker network break for a while, about half a minute, then it recover again.

Does anyone encountered this problem? Or is there any method to troubleshoot it ?

[2017-08-23 07:22] jiangsuwwj1 commented on #955
In addition, there is lots of entries in openflow tables, Does this couse this problem?
ovs-ofctl dump-flows contivVlanBridge -O OpenFlow13
.........

 cookie=0x927, duration=9012.696s, table=4, n_packets=0, n_bytes=0, priority=100,ip,metadata=0x100000000/0xff00000000,nw_dst=10.99.9.15 actions=write_metadata:0/0xfffe,goto_table:5
 cookie=0x928, duration=9012.696s, table=4, n_packets=0, n_bytes=0,

[2017-08-23 08:44] PhilipSchmid commented on #812
Hi @iiwawe,

Unfortunately not really - its still not working. A Contiv developer told me to follow [v2plugin/README.md](https://github.com/contiv/netplugin/blob/master/install/v2plugin/README.md), especially point 5.2 seems to be important because there you match the contiv used labels (`-tag policylabel`) with the `docker network create XX` used `-o contiv-tag=policylabel`. This way Contiv shoul

[2017-08-23 16:26] gkvijay commented on #812
@iiwawe, @PhilipSchmid, for docker swarm-mode, the contiv workflow was changed. Netctl commands used to create a network doesn't create a docker network. Once the networks and groups are configured using netctl command, you should use docker workflow to create docker network and run docker containers. This was a requirement for contiv to be certified as a docker plugin. The contiv-tag used in dock

[2017-08-23 16:40] gkvijay commented on #955
Please add more details. Are you using docker swarm or swarm-mode or kubernetes? which version? What are the steps to reproduce the issue? What is the observed behavior (what do you mean by docker network breaks?) You can also join contiv-users slack channel

[2017-08-24 08:28] iiwawe commented on #812
@PhilipSchmid  @gkvijay  Thanks for your reply

before create a docker network, i must create a network by netctl command,  is that mean ?
when create network by command "netctl network create contiv-net-1 -s 200.1.1.1/24 -g 200.1.1.200",  i got  error "ERRO[0015] Error response from daemon: legacy plugin: plugin not found", if i run the command again, network contiv-net-1 is create succeed.  and

[2017-08-25 20:31] #845 closed

[2017-08-29 07:53] rkharya opened #962 "Removal of Contiv network is possible even though there is a Docker Network attached to it"
<img width="1490" alt="screen shot 2017-08-29 at 1 23 23 pm" src="https://user-images.githubusercontent.com/12057795/29810399-442ea55a-8cbd-11e7-81bb-f5a6242a9b0f.png">
## Description
v2Plugin on DEE 17.06 in native swarm mode, allows removal of Contiv network in L2/vLAN mode while its already attached with docker network by contiv-tag.

#### Expected Behavior
It should throw an error while removi

[2017-08-30 05:05] rkharya opened #963 "Swarm cluster reboot results in v2plugin bootup failures due to etcd cluster health issue"
## Description
A 4-node swarm cluster running DEE 17.06 in native swarm mode with Contiv tenant/network created and `docker service` using Contiv network deployed. Cluster reboot caused Contiv plugin bootup failures resulting in service un-availability.

Cluster config - DEE-Ctrl-1/2/3 - Swarm Managers and Contiv Masters; DEE-Wrk-1 - Swarm & Contiv worker node

#### Expected Behavior
Cluster node

[2017-08-30 09:51] jiangsuwwj1 commented on #955
root cause is arp table overflow.

[2017-08-30 09:53] jiangsuwwj1 commented on #955
close

[2017-08-30 09:53] #955 closed

[2017-08-30 09:58] jiangsuwwj1 opened #964 "IPAM should not allocate the first IP address and last address!"
In my environment,  configuration is as follows, In availableIPAddresses the first address 192.168.0.0 and the last address 192.168.0.255 should not be allocated, but it does.

root@localhost ~]# netctl net inspect vlan-66
{
  "Config": {
    "key": "default:vlan-66",
    "encap": "vlan",
    "gateway": "192.168.0.252",
    "networkName": "vlan-66",
    "nwType": "data",
    "pktTag": 66,
    "sub

[2017-08-30 21:45] rchirakk commented on #964
IPAM doesn't allocate first/last ip address.

[2017-08-31 04:22] jiangsuwwj1 commented on #964
In my env , it appeared.

My resolve solution is :
In netutils.go    modify NextClear method as bellow:

// NextClear wrapper around Bitset to check max id
func NextClear(allocMap bitset.BitSet, idx uint, subnetLen uint) (uint, bool) {
	maxHosts := uint(1 << (32 - subnetLen))
	for {
		value, found := allocMap.NextClear(idx)
		if found && value == 0 {
			idx = value + 1
			continue
		}

		if found

[2017-08-31 23:27] yuva29 opened #967 "Upgrade CNI version"
We're using the very first version(0.1.0) of CNI. It needs to be upgraded to the latest(0.6.0) or anything close to latest.

[2017-09-01 02:03] #964 closed

[2017-09-04 08:58] rkharya opened #968 "Containers spawned through `docker service` doesn't get DNS names through Contiv IPAM driver"
## Description
Containers spawned using Contiv network and Contiv IPAM driver fails to get DNS names and host names. Container host name takes container id instead of container names as should be provided by Contiv IPAM driver as part of service discovery feature.

#### Expected Behavior
Contiv IPAM driver should generated the DNS names for containers while giving IP address to them and use those

[2017-09-07 21:48] rchirakk commented on #968
docker service create has
```--hostname ``` option if that is what you are looking to configure.

[2017-09-07 21:49] rchirakk commented on #967
👍

[2017-09-12 05:39] rkharya commented on #968
we are not looking for docker provided --hostname option. That option gives the container hostname to the first container only. Rest of the containers in the service get the same name as first container.

This issue is to report Contiv IPAM driver's service discovery feature not working correctly with docker service model.

If we use `docker run`, legacy way of deploying container, container name

[2017-09-12 18:28] rhim commented on #968
@rkharya Looking at https://docs.docker.com/engine/reference/commandline/service_create/, I don't see any requirement around container naming. Can you please point us to the requirement you mention above (i.e., the network driver must name containers based of some scheme?)

My quick experiment locally w/o Contiv shows the same behavior as what you see with Contiv above:
[code]

[2017-09-13 05:03] rkharya commented on #968
When we don't use docker service  and use `docker run` and deploy container with Contiv IPAM driver, we do get /etc/hosts appended with container name. And we can reach out to deployed container on the network using that name.

Same is not true with `docker service`, which you also saw. So the ask is - as part of Contiv's service discovery feature, will this not be possible to have containers atta

[2017-09-13 17:20] gkvijay commented on #968
@rkharya, network plugin does not update the /etc/hosts inside the container. This is done by docker in CNM. For Contiv to know the containers attached to the service, Docker should expose the service APIs. Without that the plugins will not know about the service VIP and backend IP mapping. Docker also services the DNS requests and contiv doesn't see it. We need to discuss with docker folks to see

[2017-09-13 22:03] rhim opened #972 "CI failure in running TestInfraNetworkAddDeleteVXLAN systemtest"
## Description
See https://contiv-ci.ngrok.io/job/Netplugin_CI/8784/console

#### Expected Behavior
All Systemtests should have passed.

#### Observed Behavior
OOPS: 11 passed, 1 FAILED, 20 MISSED
--- FAIL: TestSystem (1527.34s)

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Your Environment

* netctl version
* Orchestrator version (e.g. kubernetes, mesos, swarm):
* Operating System and versio

[2017-09-14 18:21] mkhaas opened #973 "Add Neighbor Discovery proxy for IPv6"
## Description

#### Expected Behavior

#### Observed Behavior

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Your Environment

* netctl version
* Orchestrator version (e.g. kubernetes, mesos, swarm):
* Operating System and version

[2017-09-15 05:17] rkharya opened #974 "Restarting Docker Engine renders Contiv plugin in failed state"
## Description
Docker Engine restart on one of the manager node of a 10 node working swarm+contiv cluster, makes Contiv netplugin in disabled state. Manually enabling the plugin using `docker plugin enable` also does not helps.

#### Expected Behavior
Docker Engine restart should not result in Contiv plugin failuers, in coming up gracefully.

#### Observed Behavior
Restarting Docker Engine on one

[2017-09-15 05:17] rkharya commented on #974
[DEE-Ctrl-3.tar.gz](https://github.com/contiv/netplugin/files/1305327/DEE-Ctrl-3.tar.gz)

[2017-09-15 05:23] rkharya commented on #974
Initial de-bug info -

1) Iptables INPUT rules are intact -

[root@DEE-Ctrl-3 contiv]# iptables -L INPUT
Chain INPUT (policy ACCEPT)
target     prot opt source               destination
ACCEPT     tcp  --  anywhere             anywhere             tcp dpt:ndmp /* Contiv auth proxy service (10000) */
ACCEPT     tcp  --  anywhere             anywhere             tcp dpt:otv /* contiv network traffic

[2017-09-15 05:40] sisudhir opened #975 "Restarting Docker Engine on a worker node puts the Contiv netplugin on the disabled state"
## Description
Our setup has a 10 node swarm cluster with 3 Contiv manager and 7 worker nodes.
On restarting docker engine on worker node, we observed that the Contiv netplugin goes into a false state and we need to manually enable the plugin.
Docker Engine restart may be required for many reasons like - upgrade of Engine, or restarting engine from error state, certificate updates etc.

#### Expec

[2017-09-15 05:43] sisudhir commented on #975
1) State after restarting Docker Engine -

[root@DEE-Wrk-1 ~]# docker plugin ls
ID                  NAME                    DESCRIPTION                        ENABLED
bed86ef2660d        contiv/v2plugin:1.1.1   Contiv network plugin for Docker   false

2) Manual start & successful state -

[root@DEE-Wrk-1 ~]# docker plugin enable contiv/v2plugin:1.1.1
contiv/v2plugin:1.1.1
[root@DEE-Wrk-1 ~]# dock

[2017-09-15 22:21] gkvijay commented on #974
After the docker engine restart, please do docker plugin disable followed by docker plugin enable and collect the plugin bootup log (/var/log/contiv/plugin_bootup.log)

[2017-09-18 06:38] rkharya commented on #974
We further de-bugged the issue in detail and it looks there are 2 main issues -
1. restart of the contiv plugin, which upon engine restart does not start on its own. User has to do a manual start. For worker node manual restart works fine.
2. etcd cluster in failed state. This gets corrected if we remove /var/lib/etcd/membar/wal directory. After this, node on which engine was restarted, joins the

[2017-09-20 19:38] unclejack opened #978 "contiv/netplugin throws error on CentOS 7.4"
contiv/netplugin fails to run on CentOS 7.4. modprobe throws an error when it starts.
[code]

This can be fixed by replacing modprobe and insmod.

[2017-09-21 06:28] slzcc opened #980 "install plugin etcd add?"
docker swarm  worker install plugin:
[code]

[2017-09-25 09:30] ArikaChen commented on #891
I meet the same problem when using ovs 2.7.0:

1 create a pod
2 run `nslookup kubernetes` in pod

[2017-09-27 05:06] rchirakk commented on #980
`cluster-store="etcd://10.140.0.2:2379"`
cluster_store="etcd://10.140.0.2:2379"
please refer the usage https://github.com/contiv/netplugin/tree/master/install/v2plugin

[2017-09-28 14:33] unclejack commented on #978
This has been fixed by PR #977.

[2017-09-29 23:14] kahou82 commented on #962
@rkharya I tried to reproduce it but seems fail at step #3

`[vagrant@netplugin-node1 ~]$ netctl network create --nw-type data --encap vlan --pkt-tag 2001 --subnet 100.100.100.0/24 --gateway 100.100.100.254 --nw-tag contiv-net-tag contiv-net
Creating network default:contiv-net

[vagrant@netplugin-node1 ~]$ netctl network list
Tenant   Network     Nw Type  Encap type  Packet tag  Subnet

[2017-09-30 00:20] kahou82 commented on #368
Looks like this is fixed already

`[vagrant@netplugin-node1 ~]$ netctl network list
Tenant   Network     Nw Type  Encap type  Packet tag  Subnet            Gateway          IPv6Subnet  IPv6Gateway  Cfgd Tag
------   -------     -------  ----------  ----------  -------           ------           ----------  -----------  ---------
default  contiv-net  data     vlan        2001        100.100.100.0/2

[2017-09-30 00:22] kahou82 commented on #422
I have verified this is working

[2017-09-30 00:27] kahou82 commented on #337
This is fixed already

`[vagrant@netplugin-node1 ~]$ netctl tenant create t1
Creating tenant: t1
[vagrant@netplugin-node1 ~]$ netctl network create --tenant t1 -s 100.0.0.0/24 -g 100.0.0.1 test-net
Creating network t1:test-net
[vagrant@netplugin-node1 ~]$ netctl group create -t t1 test-net egpA
Creating EndpointGroup t1:egpA
[vagrant@netplugin-node1 ~]$ netctl tenant rm t1
Deleting tenant t1
ERRO[

[2017-10-03 15:01] srampal opened #988 "New feature: Contiv support for RHEL/ Centos Atomic OS"
Placeholder for new feature request to support Contiv on RHEL/ Centos Atomic host OS. Currently there is no active development for this. Please add your use case/ priority against this issue if you have a need for this feature so that it can be prioritized by the community for implementation appropriately.

[2017-10-03 21:13] g1rana commented on #974
issue is side effect of #963 should be closed after #963

[2017-10-03 22:29] uday-shetty commented on #968
@rkharya https://github.com/docker/libnetwork/pull/1855

[2017-10-04 22:02] g1rana opened #990 "Code cleanup in netplugin"
## enhancement
In netplugin some places error condition is not handled properly . Should be cleanup those area of code to
avoid future error handling cases.

#### Expected Behavior

#### Observed Behavior

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Your Environment

* netctl version
* Orchestrator version (e.g. kubernetes, mesos, swarm):
* Operating System and version

[2017-10-05 06:45] #891 closed

[2017-10-05 14:22] kahou82 commented on #974
#963 is closed. Can we close this?

[2017-10-05 14:23] kahou82 commented on #975
This can be closed once #974 is closed

[2017-10-05 14:29] #974 closed

[2017-10-05 22:03] #972 closed

[2017-10-06 17:34] g1rana commented on #913
duplicate of #891

[2017-10-06 20:25] kahou82 commented on #975
We still need this https://github.com/contiv/ansible/pull/368 before we close this issue.

[2017-10-06 22:03] rchirakk opened #997 "incorrect endpoint count in netctl net inspect"
netctl net inspect reports incorrect endpoint count.
1. bring up  multi node docker with contiv
2. create a container in one of the nodes & bring down node
3. Wait for node clean up to kick in, check that netctl net inspect reports correct stats

[2017-10-09 17:36] dseevr commented on #975
Closing now that https://github.com/contiv/ansible/pull/368 is merged

[2017-10-10 10:40] sisudhir commented on #975
This issue seems to be persisting in the new 1.1.4 build as well - this build was supposed to have the fix for this issue.
We still have to manually enable the v2plugin with `docker plugin enable contiv/v2plugin:1.1.4` after docker service restart.
Command details:
[root@DEE-Wrk-C-1 ~]# systemctl restart docker.service
[root@DEE-Wrk-C-1 ~]# docker plugin ls
ID                  NAME

[2017-10-10 11:24] rkharya commented on #963
We are still seeing etcd cluster health issues on our setup when we do a cluster reboot. We installed 1.1.4 afresh on a 4 node cluster and rebooted the cluster at once using `reboot` command issued through Ansible. Once nodes comes back, we see following -

1). etcd cluster-health -
root@NFS ~]# ansible DEE-C-Nodes -m shell -a "etcdctl cluster-health"
DEE-Ctrl-C-2 | FAILED | rc=5 >>
member 4e4cc73

[2017-10-13 19:13] amccormi commented on #942
Etcd in proxy mode has the desired effect of learning all of the nodes in the cluster, and using a different node in case of failure.  It's either having the client cycle amongst them, or putting it in the proxy instead.  Proxy should be adequate.

[2017-10-18 14:31] blaksmit opened #1021 "test feature 1"
testing

Created from Aha! https://cisconfv.aha.io/features/VMS3-1

[2017-10-18 14:31] blaksmit commented on #1021
Testing comment syncing

[2017-10-18 14:40] blaksmit commented on #1021
Testing again.

[2017-10-18 14:47] #1021 closed

[2017-10-20 20:46] delapsley opened #1027 "make demo failing"
## Description

I cloned the net plugin repo into my Ubuntu Xenial development machine. "make demo" failed to execute correctly.

#### Expected Behavior

Make would execute successfully.

#### Observed Behavior

Make terminated with the following error:

==> netplugin-node1: Skipping Go reinstall
==> netplugin-node1: Removed symlink /etc/systemd/system/multi-user.target.wants/NetworkManager.servic

[2017-10-20 20:56] dseevr commented on #1027
According to our [Vagrantfile](https://github.com/contiv/netplugin/blob/7ff78e84a70626b9aee429c83fb357cb81df8a45/Vagrantfile#L367-L371), if you have a GOPATH set, the `netplugin` directory needs to be at `$GOPATH/src/github.com/netplugin`

If you don't have one set, the current directory is shared at the correct location inside the VM.

If you do have a GOPATH set, the expectation is that your ent

[2017-10-20 21:01] dseevr commented on #1027
Please reopen the issue if you are still having issue with the instructions in the README

[2017-10-20 21:01] #1027 closed

[2017-10-27 14:55] blaksmit commented on #975
Closing per call with UCS team on 10/26. Rajesh confirmed this is no longer seen.

[2017-10-27 14:55] #975 closed

[2017-10-27 19:45] tiewei opened #1034 "Set l2 and mode info on netplugin/netmaster start time"
## Description
Currently there are multiple l2 options in netplugin, they are vlan+bridge, vxlan+routing  actually supported. With current code, when netplugin starts, it will create ovs bridge for both vlan and vxlan, and set itself as bridge mode, and when netmaster set global options, it will goto right mode and triggers netplugin re-init.
This is pointless with the fact that vlan and vxlan cou

[2017-10-29 04:37] rchirakk commented on #1034
I think these all boils down to one thing, not  configure default fwd-mode
& netplugin waiting to init on fwd-mode config
1, 4. This can be avoided when you use the global mode
2. 👍

[2017-10-31 18:09] chrisplo commented on #963
Two PRs address this issue:
https://github.com/contiv/ansible/pull/376
https://github.com/contiv/ansible/pull/380

[2017-11-02 16:11] blaksmit commented on #963
Rajesh is still reporting this issue. He needs to verify further. Reopening until he has verified.

[2017-11-02 16:13] #963 closed

[2017-11-03 02:42] rockmenjack opened #1052 "[L3 routing] cross host containers not able to ping each other"
## Description
we have below setup:
[code]

#### Expected Behavior
pod1 shall be able to access pod2

#### Observed Behavior
but pod1 is not able to access pod2, e.g. ping. This is contrary to the result where everything works fine when running in virtualbox.
Seems ovs did not forward the package.

## Steps to Reproduce (for bugs)

1. Create above netwoork
2. Create two pods across contiv hosts
3.

[2017-11-03 19:19] rchirakk commented on #1052
@rockmenjack are you using vlan networking in routing mode or
vxlan networking in routing mode ?
#netctl global-info, check fwd-mode(routing/bridge)
#netctl net ls -a , check network types

vlan networking in routing  mode requires BGP (experimental feature),  https://github.com/contiv/netplugin/blob/master/scripts/l3bgp_demo.sh

[2017-11-04 15:37] rockmenjack commented on #1052
I am using routing mode with vlan...

2017-11-04 3:19 GMT+08:00 Ranjith <notifications@github.com>:

[2017-11-06 20:01] danehans commented on #829
@gkvijay any updates on adding IPv6 support to Contiv? CNI added IPv6 support in 0.6.0. Kubernetes plans to support CNI 0.6.0 and overall IPv6 support (alpha) in 1.9. It would be great to have Contiv listed as a supported IPv6 CNI plugin.

cc @shmcfarl

[2017-11-07 22:32] sbskas opened #1054 "contiv cni plugin is broken with cri-o runtime."
## Description
When running kubernetes with the cri-o runtime (v1.0.2), the contiv plugin is unable to add network.
When creating a new pod, the following errors are seen :

`crio[1754]:` time="2017-11-07 23:19:48.420019761+01:00" level=error msg="Error adding network: Contiv:Error moving to netns; Err: invalid nw name space: `/var/run/netns/k8s_kube-dns-5c48f5cf98-lgth2_kube-system_1670dee9-c2ea-

[2017-11-07 22:36] sbskas commented on #1054
A quick analysis show that the nsToPID function expects a string in the format '/proc/<pid>/xxxx'.
However, cri-o choose to pass a symlink instead of the direct path.
The cni specs says it is legit to pass a symlink instead of the direct path.
Maybe a `os.ReadLink()` before the string analysis would help.
I tried to patch the code like this without success.

[2017-11-08 03:34] jzwlqx opened #1055 "Why not sync endpoints information by etcd/consul in ovsdriver"
Hi, After read the netplugin source, I found that when create/delete endpoints and rules, the events was synced by ofnet.
I don't know is the ofnet synchronization better than etcd/consul. When event need to be synced, ofentMaster call the rpc interface on every node which cause more complex and less reliable.

Please let me know if i am wrong.

[2017-11-09 16:59] danehans commented on #967
Contiv will most likely break in k8s 1.9 if not upgraded to cni 0.6.0.

xref: https://github.com/kubernetes/kubernetes/issues/49480#issuecomment-337220046

[2017-11-09 17:00] danehans commented on #829
CNI 0.6.0 is a dep: https://github.com/contiv/netplugin/issues/967

[2017-11-09 17:06] blaksmit commented on #962
UCS team completed testing and the warning is now seen.

[2017-11-09 17:06] #962 closed

[2017-11-12 13:40] sbskas opened #1059 "contiv is starting ovsdb-server in Debug mode"
## Description
The ovsInit.sh is starting the ovsdb-server in debug mode.
Heres the line in the ovsInit.sh startup script:
`ovsdb-server --remote=punix:/var/run/openvswitch/db.sock --remote=db:Open_vSwitch,Open_vSwitch,manager_options \
--private-key=db:Open_vSwitch,SSL,private_key \
--certificate=db:Open_vSwitch,SSL,certificate --bootstrap-ca-cert=db:Open_vSwitch,SSL,ca_cert \
--log-file=/var/con

[2017-11-15 06:57] kahou82 commented on #729
@tiewei is it something you have fixed?

[2017-11-15 06:58] kahou82 commented on #915
@tiewei looks like it is something you have fixed?

[2017-11-15 07:00] kahou82 commented on #817
@gaurav-dalvi it looks ok with contiv 1.1.6

`[vagrant@netplugin-node1 ~]$ netctl group ls -t BandwidthTenant -a
Tenant           Group  Network           IP Pool  CfgdTag  Policies  Network profile
------           -----  -------           -------  -------  --------  ---------------
BandwidthTenant  epgA   BandwidthTestNet
BandwidthTenant  epgB   BandwidthTestNet                              test

[2017-11-15 07:03] #337 closed

[2017-11-15 16:30] tiewei commented on #729
no, this is a little different. @dvavili fyi, we are re-evaluating the re-initialization feature which may be removed in later release, as a result, the fwd mode and uplink states will only allowed to be managed during the starting config.

[2017-11-15 16:31] tiewei commented on #915
yes, this can be closed

[2017-11-16 20:58] #915 closed

[2017-11-16 20:58] tiewei commented on #915
i think this has been resolved by contiv/netplugin#1043

[2017-11-17 22:29] kahou82 commented on #1059
https://github.com/contiv/netplugin/pull/1075

[2017-11-18 07:20] #817 closed

[2017-11-19 20:32] sbskas commented on #1059
What about the kubernetes part ?

[2017-11-21 00:35] dseevr commented on #1059
Gonna close this as the change has been merged.  This will go out in the 1.1.8 release

[2017-11-21 00:35] #1059 closed

[2017-11-25 18:27] #368 closed

[2017-11-27 02:30] madianjun opened #1083 "K8s "Service" could not work in contiv vlan mode"
I'm using contiv+vlan，i  create k8s Service(service A) for two pods(pod A1, A2), and create another pod(pod B)。There are two problems: (1)  In pod B, "curl" clusterIP of service A, it will always connect to only one pod (pod A1 or pod A2), but not balance traffic to the two pods.   (2) In pod B, "curl" two pod ip of service A, it will success on one pod ip, but  fail on the other one; pod B could

[2017-11-30 01:07] g1rana opened #1089 "K8s Network Policy(Ingress) Support"
## Description

Contiv should implement K8s network policy  support in its existing network plugin.
#### Expected Behavior

#### Observed Behavior

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Your Environment

* netctl version
* Orchestrator version (e.g. kubernetes, mesos, swarm):
* Operating System and version

[2017-11-30 12:35] basvandenbrink commented on #978
I am also experiencing this issue on CentOS and the pull request has been reverted by #998. Could you please reopen this issue.

[2017-11-30 17:34] dseevr commented on #978
@basvandenbrink thanks for the reminder about this issue. we are actually working on this right now

[2017-11-30 18:12] vhosakot commented on #967
I'm working on upgrading CNI to 0.6.0 in Contiv.

[2017-11-30 18:38] basvandenbrink commented on #978
That's great! In the meanwhile, I worked around it by manually executing the following on each node before connecting:

`sudo modprobe openvswitch`

[2017-12-01 04:30] rkharya opened #1091 "CVD with Contiv - Need a Contiv troubleshooting section"
## Description
Current Doc repository on Contiv.io has documentation available for User Guide, Admin Guide & Getting started and other tutorials and talks. It does not have any ReadMes and/or write-up on Contiv trouble shooting specially in the area of datapath/OVS.

#### Expected Behavior
We Need a section dedicated for trouble shooting Contiv on installer, etcd cluster, Contiv datapath and forwa

[2017-12-11 16:30] vhosakot commented on #829
PRs submitted to upgrade CNI to `0.6.0` in contiv:

**contiv/netplugin** - https://github.com/contiv/netplugin/pull/1100
**contiv/install** - https://github.com/contiv/install/pull/314

[2017-12-11 16:30] vhosakot commented on #967
PRs submitted to upgrade CNI to `0.6.0` in contiv:

**contiv/netplugin** - https://github.com/contiv/netplugin/pull/1100
**contiv/install** - https://github.com/contiv/install/pull/314

[2017-12-11 21:24] kahou82 commented on #1091
I have attached the first draft of troubleshooting doc. It should describe all the required network construct and data path.

[2017-12-11 21:24] kahou82 commented on #1091
[Contiv troubleshooting.pdf](https://github.com/contiv/netplugin/files/1549428/Contiv.troubleshooting.pdf)

[2017-12-13 18:41] kahou82 commented on #1091
[Contiv troubleshooting.pdf](https://github.com/contiv/netplugin/files/1556588/Contiv.troubleshooting.pdf)

[2018-01-05 10:42] basvandenbrink opened #1108 "Network interface not added to contivVlanBridge in L2 mode"
## Description
No pod connectivity after Contiv installation, because the phyical network interface is not added to the Open vSwitch bridge.

#### Expected Behavior
`ovs-vsctl show` shows virtual interfaces and the physical interface specified during installation. This was the case with contiv 1.1.7.

#### Observed Behavior
`ovs-vsctl show` only shows virtual interfaces.

## Steps to Reproduce (fo

[2018-01-08 08:59] basvandenbrink commented on #1108
I think [this commit](https://github.com/contiv/install/commit/4aae3dc4b65feaeb107ed3d65a63abb529de85b2) is the cause.

[2018-01-15 05:02] magic7s commented on #1108
@basvandenbrink Is there a workaround that you found?

[2018-01-16 22:55] tiewei commented on #1108
I think this is using VLAN mode, right, you need to add VLAN_IF, to be more specifically, you need env vars for netplugin `CONTIV_NETPLUGIN_VLAN_UPLINKS` as "a comma-delimited list of netplugin uplink interfaces", and make sure you are using VLAN mode and bridge mode.

[2018-01-17 18:13] basvandenbrink commented on #1108
@magic7s Currently, I reverted to 1.1.7, but you can execute the following command to manually add the interface to the bridge: `ovs-vsctl add-port contivVlanBridge <vlan_interface>`.

@tiewei Yeah, I think the installer should have done that. Maybe, it is an issue of the installer and not the plugin itself.

[2018-01-18 02:15] itshicheng opened #1111 "how to install contiv plugin on docker1.12.6 with no swarm ，no kubernetes. who can give me a url,thanks."
## Description

#### Expected Behavior

#### Observed Behavior

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Your Environment

* netctl version
* Orchestrator version (e.g. kubernetes, mesos, swarm):
* Operating System and version

[2018-01-18 09:01] sisudhir opened #1112 "Docker service scale issues seen with rebooted workers running on VMs"
## Description
In a mixed swarm mode cluster (baremetal and VMs) with Contiv 1.1.7,  docker service scale issues are seen on rebooting the worker VMs.
Before the reboot the cluster had the containers running on all the nodes (baremetal and VMs) using Contiv network and policy framework.

#### Expected Behavior
The VM reboot should not affect the performance with Contiv network.

#### Observed Beha

[2018-01-18 17:15] vhosakot commented on #1112
Looking at the logs in `contiv-logs.tar.gz`, looks like an RPC issue when netmaster connects to Ofnet:

`netmaster.log` has:

[code]

Can you send docker daemon logs when you see this issue?

[2018-01-18 17:55] vhosakot commented on #1112
@blaksmit This issue is seen Docker Swarm mode. Pretty sure that this issue cannot be seen in k8s as k8s does not even have the `docker service scale` command that exposes this issue.

[2018-01-18 19:01] blaksmit commented on #1112
@vhosakot the comment was to see whether a similar VM scale issue is seen with K8s.

[2018-01-18 20:11] vhosakot commented on #1112
@blaksmit I see, got it. We could test if this issue is seen when `kubectl scale` is done (k8s equivalent of `docker service scale`).

[2018-01-23 08:28] sisudhir commented on #1112
Please note the changed title.
This is not just a scale issue as we are seeing this issue with deploying a new service having just a single container.

[2018-01-23 21:10] magic7s opened #1117 "Proposal: Use Jinja template for files that need to be edited before using."
Use a common templating format for files that need to be edited with local data before running. Such as `netplugin/install/k8s/contiv/contiv-base.yaml`. Ansible can use this format directly and local variables can be mapped to template variables. Document each variable used near the top with comments.

Also enforce commits do not include developers local data. (i.e. `netplugin/install/k8s/contiv/c

[2018-01-23 21:38] tiewei commented on #1117
Thank you for raise the question @magic7s  !
In fact the https://github.com/contiv/netplugin/blob/master/install/k8s/contiv/contiv-base.yaml#L420 is not the developer local data, it's the hard coded service ip so that the etcd could be reached in flat network case.

We didn't use contiv-base.yaml as template was because the intention is to make it as a file could install contiv in k8s with kubeadm

[2018-01-23 23:03] chrisplo commented on #1111
I think it's possibly to do such a thing . . . but I don't know of a step by step guide for doing that, you'd probably need to manually set up a number of daemons like etcd, ovs-db, ovs-vswitch, netmaster, and install the contiv plugin (though that plugin might have more than just netplugin running in it, I can't recall).

[2018-01-23 23:05] dseevr commented on #1111
The `make demo` target used to bring up a 3 VM environment which did not use any kind of orchestrator.  Maybe you could take a look at that as a reference?  https://github.com/contiv/netplugin/blob/7b2714b5f4bb0884c186902da8e02752cbdacc6a/Makefile#L111-L113

[2018-01-23 23:23] magic7s commented on #1117
This makes a lot of sense, thank you. I didn't realize contiv-compse was an executable (maybe add .py to the file). I have been trying to automate an install with ansible and was using the old yaml files. Your recent commits have been great but I still needed to download and edit the files. Thank you for pointing contiv-compose out to me.
I think the docs at `netplugin/install/k8s/README.md` need

[2018-01-23 23:23] #1117 closed

[2018-02-12 16:17] g1rana commented on #954
Ngpitt, Are you seeing service disruptions during any EPG rules update in contiv-ACI setup? By looking your description, it seems that any rule update in contiv system causing service disruption. if possible, can you give netplugin/netmaster logs from your setup during  error state?

[2018-02-12 17:48] ngpitt commented on #954
@g1rana I don't think any errors were thrown. The issue stems from the fact that ANP's are completely deleted and re-created in ACI when any of their associated objects are changed in Contiv (i.e. rule/epg creation/deletion). This causes any container using that ANP to loose network connectivity until the sync completes. This behavior is confirmed by the code here: https://github.com/contiv/netplu

[2018-02-20 20:24] g1rana commented on #954
@ngpitt Can you tell us  following info ?
1.Docker Version  . Is this Docker EE or just Docker CE ?
2. ACI version
3. is this with Docker Swarm ?

[2018-02-20 20:38] ngpitt commented on #954
1. Docker CE 17.06.1 (CentOS)
2. ACI 2.3(1f)
3. Kubernetes

Unfortunately I no longer have access to a functioning Contiv setup with these versions (we've switched to the native ACI CNI and updated Docker, ACI, and K8s versions). I'll try to provide as much info as possible.

[2018-02-20 22:30] TetsujinOni commented on #954
This is an flaw in the design of netplugin, because it doesn't contemplate the scenario described in the OP, wherein you have two ANPs in communication (`A` and `B`) with `AB` contracts in use. Adding a new ANP `C` with `AC` contracts will delete `A` and re-create it, causing `AB` contracts to lose connectivity for the duration of the update process.

This is independent of the versions of the com

[2018-02-22 18:37] g1rana commented on #954
Yes, I agree with your description but want to reproduce it more less in same version what you have before making changes in code/design.

[2018-02-24 00:05] g1rana commented on #954
ngpitt,
Looks like you don't have any issue with Native ACI CNI plugin  in k8s. Let me know if you still want  me to work on it  since this issue is related to original Contiv ACI gw plugin which i believe you are not using anymore .

[2018-02-28 00:13] Rockyjee commented on #659
I was getting the same issue until I redeployed the swarm and increased number of agents to "2" and it worked for me !!!

[2018-03-07 12:50] woshihaoren opened #1120 "Does have vlan with routing and with bridge doc."
## Description

[code]
./install/k8s/install.sh -n 172.16.1.202 -v ens192
when i execute this command. servers network unreachable
#### Expected Behavior

contiv install success
#### Observed Behavior

172.16.1.202 can't ping, network unreachable
## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Your Environment

* netctl version: contiv-1.1.7
* Orchestrator version (e.g. kubernetes, mesos, swarm)

[2018-03-07 15:47] BAM0S2 opened #1121 "Plugin is disabled and can't be enable"
------------------------------------------------------------------------------
BUG REPORT INFORMATION
------------------------------------------------------------------------------
## Description
I installed this plugin and noticed that it is not enabled:
![capture2](https://user-images.githubusercontent.com/35820978/37101830-22eaa972-222f-11e8-8a84-78ce151bbb96.PNG)

#### Expected Behavior
Plugin

[2018-03-15 06:50] verizonold opened #1123 "Cannot deploy pods on worker nodes"
## Description
I followed your example at http://contiv.github.io/documents/tutorials/networking-kubernetes-16.html
I deployed contiv-c2.yaml
[vagrant@kubeadm-master ~]$ kubectl get pods -o wide
NAME        READY     STATUS              RESTARTS   AGE       IP         NODE
contiv-c1   1/1       Running             0          49m       10.1.2.2   kubeadm-master
contiv-c2   0/1       ContainerCreati

[2018-03-16 03:36] wangxf1987 opened #1124 "Ideas for egress traffic shaping"
## Description
Contiv can be set the ingress rate limit and use the openvswitch port, that openvswitch have the
implement for ports.
However, some specical applications need to implement egress traffic shaping.

#### Expected Behavior
1.  modify the CreatePort method in the ovsdbDriver.go
2.  Add a actual para for egress.
3.  check the para, if not none, that create queue for the special interface

[2018-03-29 00:58] g1rana commented on #1112
@sisudhir , Is this issue is  seen at every iteration of your failure test ? Is it possible for you to share your setup with me . I can take a look at setup during error times

[2018-03-30 17:56] jerana commented on #1112
Hi Jeewan,

Yes, we saw this issue every time a VM worker node was rebooted.
Unfortunately, we do not have the setup now. We are using the gear for the other ongoing projects currently.

Thank you,
Sindhu
From: g1rana [mailto:notifications@github.com]
Sent: Thursday, March 29, 2018 6:29 AM
To: contiv/netplugin
Cc: Sindhu Sudhir (sisudhir); Mention
Subject: Re: [contiv/netplugin] Container deployme

[2018-04-02 10:15] clourarch opened #1127 "OpenFlow rules missing for service/node after certain period of depoloyment"
## Description

I have deployed a customized k8s cluster and on top of that installed Contiv as CNI networking.
All worked fine, but after 2 or 3 days noticed that OpenFlow rules for a specific service/node missing.
#### Expected Behavior

All the PODs should be accessible from any of the host systems. ie host ---> pod communication

#### Observed Behavior

Unable to connect to the POD and contivh

[2018-04-09 12:34] sdake commented on #633
interest in this use case has ceased, although others may have interest in it.

[2018-04-09 12:34] #633 closed

[2018-04-11 09:02] MIBc opened #1129 "Specifying a data plane interface for vxlan"
Are there any methods to specifying a data plane interface for vxlan. I think it is neccessary for node with  multi-interface.

[2018-04-12 14:02] mrifai opened #1130 "Contiv not distributing networks in BGP"
Hello,

I am trying to configure L3 BGP routing on contiv  in kubernetes in order to enable access to the pods from outside of kubernetes ( e.g. from baremetal or across distant networks). I followed the instructions given in: http://contiv.github.io/documents/networking/bgp.html
I managed to establish a BGP session between the netplugin and the Top of Rack Juniper Switch, **however** even when I

[2018-04-30 10:52] jeffrey4l opened #1131 "How pod access service's ClusterIP in openshift environment"
## Description
I am deploying openshift+contiv with vlan + bridge mode. So far the connectivity between two pods is perfect. But the service ip is not.

Technically, i can not found any doc or explanation how Pod could service's ClusterIP. So cloud anyone give me some info about this?

#### Expected Behavior
Service ClusterIP should be accessible from Pod.

#### Observed Behavior

Seems there is a

[2018-04-30 10:59] jeffrey4l commented on #1131
this may related to #1083

[2018-04-30 11:01] jeffrey4l commented on #1131
Since i don't know what's the root cause, i also create a issue with the same description in openshift side https://github.com/openshift/openshift-ansible/issues/8200

[2018-05-01 18:17] vhosakot commented on #1131
Hi @jeffrey4l! 😄

[2018-05-02 06:27] jeffrey4l commented on #1131
@Pamir yes.

i also found there are two ovs bridges created by netplugin even though i am using vlan+bridge mode, `contivVlanBridge` and `contivVxlanBridge` bridge.

And the service ip is added to  `contivVxlanBridge`'s `contivh0` interface. When accessing the service from host, it works. but the pod network have no idea about this.

So i think the `contivVxlanBridge` and `contivVlanBridge` should

[2018-05-04 05:04] vhosakot commented on #1131
@jeffrey4l sure, I'll look into the issue and reply here soon.

[2018-05-12 01:33] g1rana opened #1133 "Contiv Netmaster IPAM leaked causing valid container creation failure"
## Description
 Contiv Netmaster IPAM adddress leaked  causing container creation failed

#### Expected Behavior
Endpoint creation/failure  condition shouldn't cause IPAM address exhausted in network fabric cluster

#### Observed Behavior
Issue was seen in scale environment and noticed IP address are getting leaked slowly in Endpoint creation failure case

## Steps to Reproduce (for bugs)

1.
2.
3

[2018-05-22 20:56] #1133 closed

[2018-05-23 14:41] danielcra opened #1136 "Dataplane not working for BGP in Kubernetes cluster"
## Description
Contiv 1.1.7 as CNI plugin in Kubernetes v1.10.2
Contiv in routing mode with VLAN dataplane.
Peering Contiv with external BGP speaker; all routes mutually exchanged.
However, from within a pod I cannot ping external IP addresses (external to the k8s cluster). No ICMP packets seem to be leaving the compute host. Flow table in OVS seems wrong.

#### Expected Behavior
Ping should work.

[2018-05-31 06:48] MIBc commented on #939
I have create a nodeport service. But I can't visit it using hostIP:port from outside. My contiv is v1.1.1. The forward mode is routing. The CONTIV-NODEPORT doesn't have any rules.

[2018-06-04 02:23] liucimin opened #1140 "The etcdv2 Watcher bug in the contiv."
## Description
Contiv  as CNI plugin in Kubernetes.
Contiv in using etcdv2 in the project.
And the netplugin create some watcher to watch the etcd data.Such as state/nets.
But if the network interrupt,and the etcd index has been cost larger than 1000.The watcher must
fail because that the etcdv2's just save 1000 events before now index .

Then we use netctl to create a new network in netmaster,but

[2018-06-04 06:37] liucimin commented on #1131
May be u can show the flows in the ovs.Such as the picture blow.
![image](https://user-images.githubusercontent.com/8232349/40901894-a639399a-6804-11e8-85b2-02c4a58fcd65.png)

[2018-06-12 02:30] #1120 closed

[2018-06-28 11:16] nrsekhar commented on #927
any update on this issue ???

[2018-07-09 04:20] daddylhz commented on #939
Any update???

[2018-07-10 06:32] anomaly256 commented on #927
I'm hitting this too with contiv/v2plugin:1.1.7 and contiv/v2plugin:1.1.9 with docker 18.03.1-ce.  Lack of response to this issue and other open bugs with the same error doesn't bode well

[2018-07-10 09:00] liucimin commented on #939
@MIBc
Is there iptables in the host?

[2018-07-10 09:11] liucimin commented on #939
@MIBc
Type: NodePort
IP: 10.20.175.244

Is the IP is the master's node ip?or is there netplugin run in the  10.20.175.244's host?Not the netmaster.

In contiv,Just netplugin support the nodeproxy!

[2018-07-10 09:14] MIBc commented on #939
yes. It has iptables.

From: Jackson
Date: 2018-07-10 17:01
To: contiv/netplugin
CC: Lv Jiawei; Mention
Subject: Re: [contiv/netplugin] Unable access pod from k8s Nodeport (#939)
@MIBc
Is there iptables in the host?
—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2018-07-10 09:16] MIBc commented on #939
You mean I should access node ip which is not k8s master.

From: Jackson
Date: 2018-07-10 17:11
To: contiv/netplugin
CC: Lv Jiawei; Mention
Subject: Re: [contiv/netplugin] Unable access pod from k8s Nodeport (#939)
@MIBc
Type: NodePort
IP: 10.20.175.244
Is the IP is the master's node ip?or is there netplugin run in the 10.20.175.244's host?Not the netmaster.
In contiv,Just netplugin support the no

[2018-07-13 12:30] n3wt0nSAN commented on #1054
Hello guys, have any solution?

TIA!

[2018-07-24 06:58] lubinsz opened #1149 "Is there any plan to enable qinq"
Currently, Neutron has enabled qinq. And we want to deploy qinq for NFV.
For contiv, is there any plan to enable qinq for container networking.
Thanks.

[2018-08-15 01:27] keontang opened #1151 "arp proxy problem"
## Description

Because netplugin integrated with an arp proxy and a namespace server, when netplugin is broken down, network will not work because of arp resolved failed. How can we solve this problem?

#### Expected Behavior

#### Observed Behavior

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Your Environment

* netctl version
* Orchestrator version (e.g. kubernetes, mesos, swarm):
* Opera

[2018-08-23 15:10] mirwan opened #1152 "Access to K8S apiserver's clusterIP does not work with apiserver setup with HA"
## Symptoms
Even if contiv components are running, no other pod can access apiserver via clusterIP (and fail CrashLoopBackOff) because of a "connection refused".

## Explanation
In https://github.com/contiv/netplugin/blob/release-1.2/mgmtfn/k8splugin/kubeClient.go#L93, the `serverURL` variable (filled with the URL (IP+PORT) of the VIP which the apiservers are behind), defined in the configMap is u

[2018-08-29 15:13] verwilst commented on #871
Also running into this. No pods left, but stale entries in contiv -> unable to delete network.

[2018-09-06 08:51] sunilthemaster opened #1154 "Unable to install Contiv plugin on docker swarm of version 18.03.0-ce"
## Description
When trying to install Contiv on my docker swarm environemnt am getting this error
Error response from daemon: dial unix /run/docker/plugins/7190bf75d4238e9267bff0393af829fbb014b3efd56daf0ffcd1f476ad9e6b80/netplugin.sock: connect: no such file or directory

#### Expected Behavior
As per https://store.docker.com/plugins/contiv/plans/de8e6eb9-983e-4900-b000-0782a074fa61, I should be a

[2018-09-13 05:54] zhanrox commented on #885
@haoyixin   I got a similar with contiv netplugin with mesos containerizer, do you fix it?

[2018-09-14 08:19] arnolix opened #1155 "when support latest on docker plugin install"
Hi,
[root@dcos-slave01 rootfs]# docker plugin install contiv/v2plugin:1.2.1  xx  xx xx xx....
Error response from daemon: manifest for contiv/v2plugin:1.2.1 not found

https://hub.docker.com/r/contiv/v2plugin/tags/    now support 1.1.9 ,  I very like this plugin, hope to support latest 1.2.1 ,  thx~!

## Your Environment

* netctl version
* Orchestrator version (e.g. kubernetes, mesos, swarm):
* O

[2018-10-05 09:46] networkop opened #1156 "k8s plugin labels"
Hi,
I'm trying to use Multus together with contiv to connect pods to multiple contiv networks and so far the only option I've seen to specify a network to connect to is to use pod labels.

Is there an option to specify labels in CNI configuration file (e.g. in "args") as opposed to doing it in POD?

[2018-10-05 13:54] jojimt commented on #1156
No, there isn't.

[2018-10-05 13:59] networkop commented on #1156
gotcha

[2018-10-05 13:59] #1156 closed

[2018-10-12 08:11] xiaodan1 opened #1158 "Is netmaster and netplugin to connection etcd of haved cert?"
My etcd cluster is config cert,
![image](https://user-images.githubusercontent.com/22994530/46856660-98fd6080-ce39-11e8-93f9-2c95e209c3b3.png)
,
![image](https://user-images.githubusercontent.com/22994530/46856403-e927f300-ce38-11e8-8231-c3cccfa0631f.png)
Can the netmaster and netplugin is to connection etcd cluster of require authentication?

[2018-10-12 09:46] liucimin commented on #1158
not yet

[2018-10-28 07:34] kannanv06 commented on #1054
Is this issue Resolved on contiv?

[2018-11-19 09:29] wayneliu0019 opened #1159 "how to expose service to “outside” with vxlan contiv network"
I've created a contiv network with "vxlan" Encap type, does anybody know how to expose my service to "outside" world ? it seems "external contracts" only support "vlan" network. https://contiv.io/documents/networking/aci_ug.html

if I try to expose my service in a "vxlan" network with ACI mode , I will get below error

[code]

how to make it accessible to the "outside" world? is there some other o

[2018-11-23 02:58] #1158 closed

[2018-12-05 18:23] n3wt0nSAN opened #1160 "How I can make contiv DNS Fwd to External DNS on Kubernetes"
## Description

Contiv create NAT rules to external DNS, but this don't work fine. So, its necessary create any thing configuration to work ok?

On tenant default this work good.

REF.: https://github.com/contiv/netplugin/blob/master/docs/dns.md

LOG from netplugin
[code]

#### Expected Behavior
from pod: ping google.com

#### Observed Behavior

## Steps to Reproduce (for bugs)

- with cluster up

[2018-12-12 12:16] Mikey032 opened #1161 "Contiv on Openshift"
## Description

It isn't possible at the moment to deploy Contiv on Openshift 3.11. Currently someone readded Contiv on the 3.11 branch but it doesn't seem to work out very well. (https://github.com/openshift/openshift-ansible/issues/10788)

#### Expected Behavior

Contiv installation completes successful on Openshift 3.11.

#### Observed Behavior

We are using the contiv bridge mode with vlan enc

[2018-12-12 16:33] srampal commented on #1161
FYI Contiv support with Openshift has not been actively maintained since about Openshift 3.7 so it’s likely not working for recent releases. For the etcd error, your quickest route may be to pursue the use_contiv_etcd=false option and triage the TLS errors.

On Dec 12, 2018, at 4:16 AM, MikeySmet <notifications@github.com<mailto:notifications@github.com>> wrote:

Description

It isn't possible at

[2018-12-27 03:46] amwork2010 opened #1162 "contiv-netmaster always Pending"
docker 18.09
kubeadm 1.13

kubeadm init --kubernetes-version=v1.13.0 --pod-network-cidr=10.10.0.0/16 --apiserver-advertise-address=192.168.55.31
git clone https://github.com/contiv/netplugin
cd netplugin/install/k8s/contiv
./contiv-compose use-release --k8s-api https://192.168.55.31:6443 -v $(cat ../../../version/CURRENT_VERSION) ./contiv-base.yaml > ./contiv.yaml
kubectl apply -f contiv.yaml
# ku

[2019-01-02 01:58] lixiang233 commented on #1162
this document may help you https://kubernetes.io/docs/concepts/configuration/taint-and-toleration/

[2019-01-04 09:46] MikeySm commented on #1161
Solved the TLS errors and contiv netmaster en netplugins are working correctly except that it isn't possible to use services. A request, that goes from a containers to a service with service cidr 172.30.0.0/16, is routed to the default gateway which it denies. Doesn't the request need to stay in the "internal network"?

[2019-02-13 10:41] xiaodan1 opened #1163 "Netplugin whether to support multi etcd?"
contiv version: 1.2.0
etcd version: 3.2.9

on netplugin node:
![image](https://user-images.githubusercontent.com/22994530/52705575-30c4b400-2fbe-11e9-81cd-78f99b521994.png)

I stop etcd at 10.110.13.220, but etcd of 10.110.13.210 and 10.110.13.219 is working.
The log of netplguin is :
![image](https://user-images.githubusercontent.com/22994530/52705794-bf393580-2fbe-11e9-9a34-531cac511af2.png)

[2019-02-14 02:40] liucimin commented on #1163
https://github.com/contiv/netplugin/pull/1147

[2019-02-15 03:15] xiaodan1 commented on #1163
I already read  #1147, but my problem still exist. I also comparison the code of "netplugin-release-1.2" and #1147 "Files changed".

In  "**/usr/bin/netplugin --mode kubernetes --netmode vlan --vlan-uplinks eth1 --fwdmode bridge --etcd-endpoints http://10.110.13.220:2379,http://10.110.13.210:2379,http://10.110.13.219:2379**" ,
 "--etcd-endpoints http://10.110.13.220:2379,http://10.110.13.210:2379,

[2019-02-27 02:22] liucimin commented on #1163
First #1147 is not merge.You should merge it by your self.

Second, the args should like this
--etcd-endpoints http://10.110.13.220:2379,http://10.110.13.210:2379,http://10.110.13.219:2379

Third, the etcd's ports 2379 maybe https? Unfortunly the contiv just support http.
So your etcd should use 2380 or other ports?See your etcd config.

[2019-03-05 08:47] xiaodan1 commented on #1163
Thanks.

[2019-03-06 02:53] #1163 closed

[2019-03-19 00:12] #479 closed

[2019-03-27 11:26] arnolix opened #1165 "ipAllocMap is not correct"
## Description

[root@gs-predcos-node21 ~]# netctl net inspect vlan45 |more
{
  "Config": {
    "key": "default:vlan45",
    "encap": "vlan",
    "gateway": "10.0.45.254",
    "networkName": "vlan45",
    "nwType": "data",
    "pktTag": 45,
    "subnet": "10.0.45.0/24",
    "tenantName": "default",
    "link-sets": {},
    "links": {
      "Tenant": {
        "type": "tenant",
        "key": "defa

[2019-03-28 08:12] liucimin commented on #1165
yes the netctl net inpsect is use the netmaster cache.
So maybe u should restart the netmaster.

[2019-04-02 11:05] arnabnandy1706 opened #1166 "Getting error while creating pods using the network created by Contiv"
Hello,

I am creating a alpine pod after creating the network using below the command.

**COMMAND**: ``netctl net create --subnet=172.1.16.0/24 --gateway=172.1.16.1 contiv-net``

**ERROR** (kubectl describe pods <pod name>):
``Warning  FailedCreatePodSandBox  3s (x4 over 6s)    kubelet, k8s-minion-2.ucsbang6.com  (combined from similar events): Failed create pod sandbox: rpc error: code = Unknown

[2019-04-03 02:23] arnolix commented on #1165
not netmaster cache , when server is hang,  server is poweroff,  netmaster will make many no-released ip.    contiv is plugin for docker,   product env  is not permitted restart docker.

[2019-04-03 03:57] arnabnandy1706 commented on #1166
Also unable to create pods using below the network configuration.

``{
  "Config": {
    "key": "default:contiv-net",
    "encap": "vxlan",
    "gateway": "172.1.16.1",
    "networkName": "contiv-net",
    "nwType": "data",
    "subnet": "172.1.16.0/24",
    "tenantName": "default",
    "link-sets": {},
    "links": {
      "Tenant": {
        "type": "tenant",
        "key": "default"
      }

[2019-04-03 06:30] liucimin commented on #1165
u dont understand my answer.
I mean the when u use  net inspect command，the result show u the netmaster  cache although u delete the data in etcd.

[2019-04-03 06:31] liucimin commented on #1166
Maybe you can have a look about the netplugin pod in the node is runing?

[2019-04-03 06:55] arnabnandy1706 commented on #1166
That is up and running in the nodes.

On Wed, 3 Apr 2019 at 12:01 PM, Jackson <notifications@github.com> wrote:

--
Regards,

*Arnab Kumar Nandy,*
Contact : +91 8150033200

[2019-04-21 09:25] zhouzijiang commented on #1054
it is resolved now in the master branch

[2019-04-30 23:28] sush-abc commented on #1162
I'm hitting this too, @amwork2010 did you figure out a solution?

[2019-08-28 09:52] #631 closed

[2020-06-01 12:05] hnxxgwccr opened #1168 "make host-build fail when import a new package"
## Description
When I import net package in netplugin/drivers/ovsd/ovsdriver.go

[code]
make host-build fail, show as:

[code]

No detail infromations, how to solve it?

My building environment is ok, when I change code in netplugin/mgmt/k8splugin/kubeClient.go， make is success.

Thanks.

#### Expected Behavior
make host-build success.

#### Observed Behavior

## Steps to Reproduce (for bugs)

1.

[2020-06-22 20:48] samascience opened #1170 "contribute.md is missing"
https://github.com/contiv/netplugin/blob/master/.github/CONTRIBUTING.md

is missing !!

## Description

#### Expected Behavior

#### Observed Behavior

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Your Environment

* netctl version
* Orchestrator version (e.g. kubernetes, mesos, swarm):
* Operating System and version

[2020-09-03 06:31] #913 closed

[2021-01-27 11:13] #499 closed

[2021-05-12 09:42] #1161 closed

[2022-05-08 20:40] ASDFGamer opened #1171 "Documenation not avalible"
## Description
The Documentation that is linked in the README (http://docs.contiv.io/) isn't present and i have a info, that I can buy the domain.

#### Expected Behavior

I would expect to see the documentation

#### Observed Behavior

The documentation isn't avalible

## Steps to Reproduce (for bugs)

1. Open http://docs.contiv.io/

## Your Environment

Firefox

[2022-06-20 10:22] neoareslinux commented on #1171
so is this project dead ?

[2022-06-20 10:42] ASDFGamer commented on #1171
Could be, but i wasn't intending to use the project, i just wanted to look Something up in the docs. That  means that i dont now If of works in the current state